@import '../../../../variables.scss';

.task-location-map {
  position: relative;

  &__extent-map {
    position: absolute;
    top: -20px;
    right: -15px;
    height:90px;
    width: 90px;
    box-shadow: -4px 5px 20px -6px $grey-darkest;
    z-index: $intralayer-bump;
    border: 1px solid $grey;

    .leaflet-container {
      height: 100%;
      border-radius: 0 0 $radius-medium 0;
    }
  }
}
