.mr-button,
.btn {
  @apply mr-appearance-none mr-inline-block mr-text-center mr-text-base mr-font-medium mr-whitespace-nowrap mr-border-green-lighter mr-text-green-lighter mr-py-2 mr-px-6 mr-rounded-sm mr-border-2 mr-leading-normal mr-transition;


  &:hover {
    @apply mr-border-white mr-text-white;
  }

  &--small {
    @apply mr-text-sm mr-py-1 mr-px-3 mr-min-w-auto;
  }

  &--xsmall {
    @apply mr-text-xs mr-py-0 mr-px-2 mr-min-w-auto;
  }

  &--link {
    @apply mr-min-w-auto mr-border-none mr-p-0;
  }

  &--danger {
    @apply mr-text-red mr-border-red;

    &:hover {
      @apply mr-text-red-light mr-border-red-light;
    }
  }

  &--green {
    @apply mr-border-green-light mr-text-green-light;

    &:hover {
      @apply mr-border-green-dark mr-text-green-dark;
    }
  }

  &-info,
  &--blue {
    @apply mr-border-matisse-blue mr-text-matisse-blue;

    &:hover {
      @apply mr-border-green mr-text-green;
    }
  }

  &--white {
    @apply mr-border-white mr-text-white;

    &:hover {
      @apply mr-border-green-light mr-text-green-lighter;
    }
  }

  &--grey {
    @apply mr-border-grey mr-text-grey;

    &:hover {
      @apply mr-border-black mr-text-black;
    }
  }

  &--orange {
    @apply mr-border-orange mr-text-orange;

    &:hover {
      @apply mr-border-green-dark mr-text-green-dark;
    }
  }

  &--dark {
    @apply mr-bg-black-10 mr-text-green-lighter mr-font-normal mr-border-none mr-rounded;

    &:hover {
      @apply mr-bg-black-40 mr-text-green-lighter;
    }
  }

  &--disabled {
    @apply mr-border-grey-lighter-50 mr-text-grey-lighter-50;

    &:hover {
      @apply mr-border-grey-lighter-50 mr-text-grey-lighter-50 mr-cursor-not-allowed;
    }
  }

  &--blue-fill {
    @apply mr-bg-blue-dark mr-border-0 mr-text-white;

    &:hover {
      @apply mr-bg-blue-darker;
    }
  }

  &--with-icon {
    @apply mr-flex mr-items-center mr-justify-center;
  }
}

.mr-expand-available {
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

input[type="checkbox"].mr-checkbox-toggle {
  @apply mr-appearance-none mr-outline-none mr-relative mr-shadow-inner mr-bg-transparent mr-border mr-border-white mr-w-4 mr-h-4 mr-align-text-bottom;

  &:hover {
    cursor: pointer;
  }

  &:checked {
    &:after {
      content: '';
      @apply mr-w-2.5 mr-h-1.5 mr-absolute mr-top-0 mr-bg-transparent mr-border-2 mr-border-white mr-border-t-0 mr-border-r-0 mr-ml-2px;
      transform: rotate(-45deg);
      margin-top: 1.75px
    }
  }

  &:indeterminate {
    &:after {
      content: '';
      @apply mr-w-2 mr-h-1.5 mr-absolute mr-top-0 mr-bg-transparent mr-border-b-2 mr-border-white mr-mt-2px mr-ml-3px;
    }
  }
}

input[type="radio"].mr-radio {
  @apply mr-appearance-none mr-outline-none mr-relative mr-shadow-inner mr-bg-transparent mr-border mr-border-white mr-rounded-full mr-w-4 mr-h-4 mr-mb-px mr-align-text-bottom;

  &:hover {
    cursor: pointer;
  }

  &:checked::after {
    content: '';
    @apply mr-w-2 mr-h-2 mr-absolute mr-top-0 mr-bg-white mr-rounded-full;
    margin-top: 0.1875rem;
    margin-left: 0.1875rem;
  }
}
