.form {
  &-group {
    @apply mr-text-sm;

    &-header,
    legend {
      @apply mr-block mr-w-full mr-text-mango mr-uppercase mr-text-md mr-mb-2;
    }

    legend#root__title {
      @apply mr-text-white mr-mb-8;
    }

    .error-detail {
      @apply mr-text-sm mr-my-2;
    }

    .field-radio-group {
      display: flex;
      @apply mr-text-white;
    }

    .array-item-list .array-item {
      @apply mr-mb-4;
    }
  }

  .no-legend legend {
    @apply mr-hidden;
  }

  .field {
    @apply mr-mb-8;
  }

  &--2-col .fieldset {
    @apply md:mr-grid md:mr-grid-columns-2 md:mr-grid-gap-8;

    legend {
      @apply md:mr-col-span-2;
    }

    .field {
      @apply md:mr-mb-0;
    }
  }

  &--modified-2-col {
    @apply md:mr-w-full;

    .notification-email {
      @apply md:mr-w-1/2 md:mr-pr-4;
    }

    .notification-subscriptions {
      .fieldset {
        @apply md:mr-grid md:mr-grid-cols-2 md:mr-gap-x-8 md:mr-grid-flow-row;
      }

      .control-label {
        @apply md:mr-cursor-default;
      }
    }
  }

  .custom-basemaps-item {
    .fieldset {
      display: block;

      .field {
        padding-bottom: 10px;
      }

      .checkbox {
        padding-top: 10px;
      }
    }
  }
}

.control-label,
.form-group.field-boolean label span,
.form-group.field-number label span {
  @apply mr-cursor-pointer mr-inline-block mr-mb-2 mr-font-medium mr-text-white;

  .field-hide-label & {
    @apply mr-visuallyhidden;
  }

  .has-error & {
    @apply mr-text-red-light;
  }

  &.required,
  .required {
    @apply mr-text-red-light mr-ml-px;
  }
}

.form-group .checkboxes {
  @apply mr-flex mr-flex-col;

  .checkbox {
    @apply mr-mb-2;

    input {
      @apply mr-mr-2;
    }
  }
}

.form-group.field-boolean .checkbox label input[type="checkbox"] {
  @apply mr-mr-2;

  &:checked:after {
    margin-top: 2px;
  }
}

.control-label {
  @apply mr-text-base mr-text-mango;
}

.mr-input,
.form-control {
  @apply mr-appearance-none mr-outline-none mr-w-full mr-py-2 mr-px-4 mr-border-none mr-text-white mr-rounded mr-bg-black-15 mr-shadow-inner;

  &:focus {
    @apply mr-outline-none mr-border-pink;
  }

  .has-error & {
    @apply mr-border-red-light;
  }

  .form-select & {
    @apply mr-appearance-none mr-outline-none mr-bg-black-15 mr-border-none mr-rounded mr-shadow-inner;
  }

  &--green-lighter-outline {
    @apply mr-bg-transparent mr-text-white mr-border-green-lighter mr-border-2;

    &:focus {
      @apply mr-border-white;
    }
  }
}

select option {
  /* for Firefox select when active */
  background-color: #1b3338;
  color: white;
}

.mr-input-select,
.form-select {
  @apply mr-relative;
}

.field-description,
.help-block {
  @apply mr-block mr-text-sm mr-text-grey-lighter mr-pt-2;
}

.help-block {
  @apply mr-mt-2;
}

.field-description {
  @apply mr-mb-2;
  p {
    @apply mr-mb-4;
  }
  h3,
  h4 {
    @apply mr-mb-3;
  }
}

.field-radio-group {
  @apply mr-h-4 mr-mb-2;
}

.checkbox,
.radio {
  @apply mr-mb-1;

  label {
    @apply mr-cursor-pointer;
  }

  [type="checkbox"] {
    @apply mr-appearance-none mr-outline-none mr-relative mr-shadow-inner mr-bg-transparent mr-border mr-border-white mr-w-4 mr-h-4 mr-align-text-bottom;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      &:after {
        content: "";
        @apply mr-w-2.5 mr-h-1.5 mr-absolute mr-top-0 mr-bg-transparent mr-border-2 mr-border-white mr-border-t-0 mr-border-r-0 mr-ml-2px;
        transform: rotate(-45deg);
        margin-top: 1.75px;
      }
    }

    &:indeterminate {
      &:after {
        content: "";
        @apply mr-w-2 mr-h-1.5 mr-absolute mr-top-0 mr-bg-transparent mr-border-b-2 mr-border-white mr-mt-2px mr-ml-3px;
      }
    }
  }

  [type="radio"] {
    @apply mr-appearance-none mr-outline-none mr-relative mr-shadow-inner mr-bg-transparent mr-border mr-border-white mr-rounded-full mr-w-4 mr-h-4 mr-mr-1.5 mr-align-text-bottom;

    &:hover {
      cursor: pointer;
    }

    &:checked::after {
      content: "";
      @apply mr-w-2 mr-h-2 mr-absolute mr-top-0 mr-bg-white mr-rounded-full;
      margin-top: 0.1875rem;
      margin-left: 0.1875rem;
    }
  }

  &:hover {
    color: inherit;
  }
}

.radio {
  @apply mr-mr-2;
}

.mr-placeholder-medium {
  &::placeholder {
    @apply mr-font-medium;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @apply mr-font-medium;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @apply mr-font-medium;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    @apply mr-font-medium;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @apply mr-font-medium;
  }
}

.mr-select {
  @apply mr-appearance-none mr-outline-none mr-pl-2 mr-bg-black-15 mr-border-none mr-rounded mr-shadow-inner;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6I2ZmZmZmZjt9DQo8L3N0eWxlPg0KPHRpdGxlPmFycm93czwvdGl0bGU+DQo8cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjEuNCw0LjcgMi41LDMuMiAzLjUsNC43ICIvPg0KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4NCjwvc3ZnPg==)
    no-repeat right 2px center rgba(0, 0, 0, 0.15);
}

.form-group textarea {
  height: 125px;
}