.mr-timeline {
  @apply mr-ml-2 mr-py-4 mr-pl-6 mr-border-l mr-border-grey-light;

  &.dark-mode {
    @apply mr-border-white-15;
  }

  @apply md:mr-ml-6;

  &__period {
    @apply mr-relative mr-mb-6;

    &:before {
      content: "";
      @apply mr-absolute mr-top-0 mr-left-0 mr--ml-8 mr-w-4 mr-h-4 mr-bg-blue-light mr-rounded-full;
    }

    &--vcentered {
      &:before {
        @apply mr-mt-2px;
      }
    }
  }

  &__header {
    @apply mr-text-sm mr-uppercase mr-mb-4 mr-text-pink;
  }

  &__activity {
    > li + li {
      @apply mr-mt-4;
    }
  }

  &__name {
    @apply mr-text-base mr-mb-2;

    a {
      @apply mr-text-green-light;

      &:hover {
        @apply mr-text-blue-light;
      }
    }
  }

  &__entries {
    @apply mr-text-sm;

    > li + li {
      @apply mr-mt-2;
    }

    .mr-badge {
      @apply mr-mr-1;
    }
  }

  .mr-cards-inverse & {
    .mr-timeline__period {
      &:before {
        @apply mr-bg-yellow;
      }

      .mr-timeline__header {
        @apply mr-text-yellow;
      }
    }

    .mr-badge {
      @apply mr-bg-white mr-text-blue-dark;
    }
  }
}
