@import 'variables.scss';

.task-location-widget {
  &__inset-map {
    margin-top: 20px;
  }

  &__place {
    font-size: $size-8;
    margin-top: 1em;
  }

  &__lat-lon  {
    font-size: $size-8;
    margin-top: 0.75rem;
  }
}
