@import 'variables.scss';

.admin__manage__managed-item-list.challenge-list {
  .challenge-list-item {
    margin-top: 0px;

    .challenge-name {
      word-break: break-word;
    }
  }

  .item-entry:not(:last-child) {
    margin-bottom: 0;
  }

  .item-entry:last-child {
    border-bottom: none;
  }

  .challenge-list__controls {
    margin-bottom: 20px;

    .button.new-challenge {
      box-sizing: content-box;
      margin: 20px 0px 12px 0px;
      padding: 0px 30px;
      font-size: $size-5;
      font-weight: $weight-normal;
    }
  }

  .challenge-list__no-results {
    text-align: center;
    color: $grey;
  }
}
