@import 'variables.scss';

.admin__manage__managed-item-list.challenge-list {
  .challenge-list-item {
    border-top: 2px solid $grey-lightest-less;
    margin-top: 0px;

    .challenge-name {
      word-break: break-word;
    }
  }

  .item-entry:not(:last-child) {
    margin-bottom: 0;

    &:first-child {
      .challenge-list-item {
        border-top: none;

        .column {
          padding-top: 0;
        }
      }
    }
  }

  .challenge-list__controls {
    .button.new-challenge {
      margin: 20px 0px 12px 0px;
      padding: 0px 30px 32px 30px;
      font-size: $size-5;
      font-weight: $weight-normal;
    }
  }

  .challenge-list__no-results {
    text-align: center;
    color: $grey;
  }
}
