@import 'mixins.scss';

.map-pane {
  position: relative;
  height: 100%;
  width: 100%;

  .leaflet-container {
    .leaflet-pane {
      z-index: $layer-map;
    }

    .leaflet-control-container {
      .leaflet-top.leaflet-right, .leaflet-top.leaflet-left {
        z-index: $layer-map-control;

        .leaflet-control {
          z-index: $layer-map-control;

          &.leaflet-control-zoom {
            border-width: 1px;
            border-radius: 2px;

            a {
              width: 34px;
              height: 34px;
              font-weight: normal;

              &:not(.leaflet-disabled) {
                color: $green;
              }

              &:first-child {
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
              }

              &:last-child {
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
              }
            }
          }
        }
      }
    }

    .leaflet-popup-content-wrapper {
      border-radius: $radius-medium;

      .leaflet-popup-content {
        width: 350px;
        overflow-y: auto;
        margin: 0;

        h3 {
          text-align: center;
          color: $primary;
          font-size: $size-6;
          font-weight: $weight-medium;
          padding: 12px 19px 12px 19px;
          margin-bottom: 12px;
          border-bottom: 2px solid $grey-lightest-more;
        }

        .marker-popup-content__links {
          text-align: center;
          font-size: $size-7;
          margin: 12px;
        }

        .feature-properties {
          color: $grey;
          font-size: $size-7;
          margin: 19px 0px;
          max-height: 70vh;
          overflow-y: auto;

          h3 {
            text-align: left;
            padding-top: 0;
          }

          .name {
            font-weight: $weight-medium;
            padding: 5px 0.5em 5px 0px;
            border: none;
            position: relative;

            .not-linked {
              color: $grey;
              padding-left: 19px;
            }

            a, a:link, a:active, a:visited {
              color: $grey;
              padding-left: 19px;

              &:hover {
                &:before {
                  content: '?';
                  font-size: 10px;
                  color: $white;
                  background-color: $grey-light;
                  border-radius: 50%;
                  padding: 0px 4px;
                  position: absolute;
                  top: 8px;
                  left: 2px;
                }
              }
            }
          }

          .value {
            @include constrained-text-content;
            hyphens: initial;
            padding: 5px 19px 5px 0px;
            border: none;
          }
        }
      }
    }
  }

  .busy-spinner {
    @include busy-spinner-color($grey);
    @include busy-spinner-size(30px);

    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    z-index: $layer-map + $intralayer-bump;
  }
}
