@import 'mixins.scss';

.map-pane {
  position: relative;
  height: 100%;
  width: 100%;

  .split-pane .leaflet-container {
    border-radius: 0;
  }

  .leaflet-container {
    height: 100%;
    border-radius: .25rem;
    -webkit-transform: translate3d(0, 0, 0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    -webkit-backface-visibility: hidden;
    
    .leaflet-pane {
      z-index: $layer-map;

      &.leaflet-marker-pane.animated {
        @keyframes marker-bounce {
          0%   { transform: translate3d(0px, 0px, 0px); }
          30%  { transform: translate3d(0px, -50px, 0px); }
          50%  { transform: translate3d(0px, 0px, 0px); }
          100% { transform: translate3d(0px, 0px, 0px); }
        }

        animation: marker-bounce 2s cubic-bezier(0.175, 0.885, 0.32, 1.275); // easeOutBack
      }
    }

    .leaflet-control-container {
      .leaflet-top.leaflet-right, .leaflet-top.leaflet-left,
      .leaflet-bottom.leaflet-right, .leaflet-bottom.leaflet-left {
        z-index: $layer-map-control;

        .leaflet-control, .leaflet-bar  {
          z-index: $layer-map-control;
          top: 40px; // swap zoom with layer toggle for mobile
          border-radius: $radius-medium-less;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
          margin-right: .5rem;

          &.leaflet-control-zoom {
            border: none;
            border-radius: 2px;
          }
          
          a, a.button {
            width: 2rem;
            height: 2rem;
            font-size: 1.375rem;
            font-weight: normal;
            transition: all 0.25s ease-in-out;

            &.leaflet-control-zoom-in,
            &.leaflet-control-zoom-out,
            &.fit-bounds-control {
              background-color: rgba(0, 0, 0, .5);

              &:hover {
                color: #91f3a2;
              }
            }
  
            &.leaflet-control-zoom-in {
              border-bottom-color: rgba(255, 255, 255, .15);
            }

            &:not(.leaflet-disabled) {
              color: $white;
            }

            &:first-child {
              border-top-left-radius: 2px;
              border-top-right-radius: 2px;
            }

            &:last-child {
              border-bottom-left-radius: 2px;
              border-bottom-right-radius: 2px;
            }
          }
        }

        .leaflet-control-attribution.leaflet-control {
          top: 0;
          z-index: $layer-map-control;
          font-size: $size-8;
          color: $grey;
          background-color: transparent;

          a {
            font-size: $size-8;
            color: $grey;
          }
        }
      }
    }

    .leaflet-popup {
      a.leaflet-popup-close-button {
        color: #C3C3C3;
      }

      .leaflet-popup-content-wrapper {
        border-radius: $radius-medium;

        .leaflet-popup-content {
          width: 350px;
          overflow-y: auto;
          margin: 0;

          h3 {
            text-align: center;
            color: #23395B; // tailwind blue
            font-size: $size-6;
            font-weight: $weight-medium;
            padding: 12px 19px 12px 19px;
            margin-bottom: 12px;
            border-bottom: 2px solid $grey-lightest-more;
          }

          .marker-popup-content__links {
            text-align: center;
            font-size: $size-7;
            margin: 12px;
          }

          .feature-properties {
            color: $grey;
            font-size: $size-7;
            margin: 19px 0px;
            max-height: 70vh;
            overflow-y: auto;

            h3 {
              text-align: left;
              padding-top: 0;
            }

            .name {
              font-weight: $weight-medium;
              padding: 5px 0.5em 5px 0px;
              border: none;
              position: relative;

              .not-linked {
                color: $grey;
                padding-left: 19px;
              }

              a, a:link, a:active, a:visited {
                color: $grey;
                padding-left: 19px;

                &:hover {
                  &:before {
                    content: '?';
                    font-size: 10px;
                    color: $white;
                    background-color: $grey-light;
                    border-radius: 50%;
                    padding: 0px 4px;
                    position: absolute;
                    top: 8px;
                    left: 2px;
                  }
                }
              }
            }

            .value {
              @include constrained-text-content;
              hyphens: initial;
              padding: 5px 19px 5px 0px;
              border: none;
            }
          }
        }
      }
    }
  }

  .busy-spinner {
    @include busy-spinner-color($grey);
    @include busy-spinner-size(30px);

    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    z-index: $layer-map + $intralayer-bump;
  }
}
