@import '../../../mixins.scss';

.map-pane {
  position: relative;
  height: 100%;
  width: 100%;

  .leaflet-container {
    .leaflet-pane {
      z-index: $layer-map;
    }

    .leaflet-control-container {
      .leaflet-top.leaflet-right, .leaflet-top.leaflet-left {
        z-index: $layer-map-control;

        .leaflet-control {
          z-index: $layer-map-control;

          &.leaflet-control-zoom {
            border-width: 1px;
            border-radius: 2px;

            a {
              width: 34px;
              height: 34px;
              font-weight: normal;

              &:not(.leaflet-disabled) {
                color: $green;
              }

              &:first-child {
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
              }

              &:last-child {
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
              }
            }
          }
        }
      }
    }
  }

  .busy-spinner {
    @include busy-spinner-color($grey);
    @include busy-spinner-size(30px);

    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    z-index: $layer-map + $intralayer-bump;
  }
}
