@import '../../variables.scss';

.search-box, .navbar-item.search-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__search-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .control-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: 10px;

      svg {
        flex: 0 0 20px;
        fill: $grey-light;
        height: 20px;
        width: auto;
        margin-left: 20px;
        margin-right: 5px;
      }

      .control {
        flex: 1 1 275px;
        input.input {
          background-color: transparent;
          border: none;
          box-shadow: none;
          color: $grey-light;
          font-weight: $weight-light;

          &::placeholder {
            color: $grey-light;
          }
        }
      }
    }

    button.search-box--clear-button {
      margin-right: 10px;
    }

    button.search-box--done-button {
      svg {
        fill: rgba($primary, 0.8);
        height: 20px;

      }

      &:enabled:hover, &:enabled:focus {
        svg {
          fill: $primary;
        }
      }
    }

    button {
      flex: 0 0 20px;
    }
  }
}
