@import 'variables.scss';

.admin__manage__sidebar.projects-sidebar {
  .sidebar__content {
    margin-top: 6px;
  }
}

.admin__manage__projects {
  $sidebar-padding: 15px;

  .admin__manage--heading {
    padding: 0px $sidebar-padding 20px $sidebar-padding;

    &.level:not(:last-child) {
      margin-bottom: 20px;
    }

    border-bottom: 2px solid $grey-lightest-less;
  }

  &__intro {
    padding: 0px $sidebar-padding;
    color: $grey;
    font-size: $size-6-plus;
    line-height: 1.3em;
    text-align: center;
    margin-bottom: 20px;
  }

  .admin__manage__projects__searchbox.search-box {
    margin: 10px $sidebar-padding 0px $sidebar-padding;
    background-color: $white;
    max-width: calc(100% - #{$sidebar-padding * 2});
  }

  .heading-name {
    transform-origin: left;
    transform: rotate(0deg) translate(0px, 0px);
    transition: transform 0.5s;
  }
}
