VITE_APP_NAME="MapRoulette"
VITE_APP_DESCRIPTION="MapRoulette 4 Local Development Environment"
VITE_API_BASE_URL="https://staging.maproulette.org"
VITE_MAP_ROULETTE_SERVER_WEBSOCKET_URL="wss://staging.maproulette.org/ws"
VITE_SERVER_OAUTH_URL="https://staging.maproulette.org/auth/authenticate"
VITE_SERVER_API_KEY=""