# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# Built by tailwind
src/index.css

# Imagery
src/imagery.json
src/defaultLayers.json
src/customLayers.json

# testing
/coverage
chimp.js

# production
/build
/MR3React.tgz

# misc
.DS_Store
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.swp

#scala plugin
/.bsp
/project
/target
/.metals

#vscode
/.vscode
