# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# Imagery
src/imagery.json
src/defaultLayers.json
src/customLayers.json

# testing
/coverage
chimp.js
error.png

# production
/build
/dist
/MR3React.tgz

# misc
.DS_Store
.env.local
.env.*.local
/public/env.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.swp

#scala plugin
/.bsp
/project
/target
/.metals

#vscode
/.vscode

# playwright
/test-results/
/playwright-report/
playwright/.auth/
