@import 'variables.scss';

.project-list {
  .project-overview {
    &__description {
      font-size: $size-6;
      margin-bottom: 20px;
    }

    &__controls {
      margin-top: 20px;
    }
  }
}
