@import '../../../../../variables.scss';

.task-completion-comment {
  width: 100%;

  input {
    width: 100%;
    font-size: $size-6;
    color: $grey;
    padding: 8px 12px;
    border: 2px solid $grey;
    border-radius: $radius-medium;

    &::placeholder {
      color: $grey;
      font-size: $size-7;
    }

    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
      border-color: $green;
    }
  }
}
