@import 'variables.scss';

.task-randomness-control {
  margin: 15px 0px;

  .control {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .radio {
      line-height: 1.5em;
    }
  }

  &__prompt {
    margin-right: 0.5em;
    font-size: $size-5;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    input {
      margin: 0 5px;
    }
  }
}
