@import '../../../variables.scss';

.comment-count-badge {
  display: inline-block;

  .badge.is-badge-outlined[data-badge] {
    font-size: 22px; // badge size and positioning affected by font size
    margin-left: 4px;

    svg {
      height: 19px;
      width: auto;
      fill: $grey;
    }
  }

  .badge.is-badge-outlined[data-badge]::after {
    font-size: $size-9;
    padding: 0.25rem;
    color: $white;
    background-color: $coral;
    border: none;
    left: calc(100% - ( 1.2rem / 2 ) - 1px) // move slightly to the left
  }

  .badge.is-badge-outlined.is-empty[data-badge]::after {
    background-color: $grey-light;
  }
}
