@import 'theme.scss';

.past-duration-selector {
  .dropdown-trigger {
    line-height: 24px;

    .button.is-outlined {
      @include invert-on-hover($grey-light, $white);
      font-weight: $weight-normal;

      .dropdown-indicator {
        @include arrow($grey-light);
        height: 10px;
        width: 10px;
        position: relative;
        margin-left: 0.5em;
        bottom: 2px;
      }
    }
  }

  .dropdown-item {
    font-weight: $weight-normal;
  }
}
