@import '../../variables.scss';

.leaderboard-map {
  padding-bottom: 20px;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;

  .leaflet-container {
    height: 200px;
    border-radius: $radius-medium;

    .leaflet-pane {
      z-index: $intralayer-bump;
    }
  }
}
