@import '../../../variables.scss';

.challenge-result-list {
  &--heading {
    padding: 20px 0px;
    margin: 0 20px 30px 20px;
    border-bottom: 2px solid $grey-lighter-more;

    &.level:not(:last-child) { // override bulma level
      margin-bottom: 30px;
      justify-content: space-between;
    }

    h2.title {
      color: $green;
      font-weight: $weight-normal;
      font-size: $size-3;
      margin-bottom: 0;
    }

    .button.challenge-result-list__clear-filters-control {
      padding-top: 3px;
      color: $grey;

      svg {
        fill: $grey;
      }

      &:hover {
        color: $grey-darkest;

        svg {
          fill: $grey-darkest;
        }
      }
    }
  }

  &__virtual-challenge-option {
    margin: 0 20px;
  }

  &__challenge-list {
    list-style: none;
    padding: 0;
    margin: 0 20px;

    &.no-results {
      display: flex;
      justify-content: flex-start;
      color: $grey;
      font-weight: $weight-semibold;

      .busy-spinner {
        margin-left: 10px;
      }
    }
  }
}
