@import 'mixins.scss';

.mobile-task-details {
  $inactive-icon-color: $grey-darkest;
  $active-icon-color: $primary;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: $layer-top;
  width: 100vw;
  background-color: rgba($grey-lightest-more, 0.95);

  &__active-pane {
    padding: 15px;
    height: calc(100vh - #{5 * $mobile-navbar-height});
    overflow-y: auto;
    transition: height 0.3s cubic-bezier(0.19, 1, 0.22, 1); // easings.net/#easeOutExpo

    &__pane-controls {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
    }

    &.minimized {
      height: 0;
      padding: 0;
    }
  }

  &__tab-bar {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    height: $mobile-navbar-height;

    &__control {
      padding: 13px 10px 5px 10px;
      svg {
        width: 20px;
        height: auto;
        fill: $inactive-icon-color;
      }

      .badge.is-badge-outlined[data-badge] svg {
        fill: $inactive-icon-color;
      }

      &.active {
        svg {
          fill: $active-icon-color;
        }

        .badge.is-badge-outlined[data-badge] svg {
          fill: $active-icon-color;
        }
      }
    }
  }

  &__info {
    .task-location-map {
      margin-top: 20px;
      width: 95%;
    }

    .place-description {
      font-size: $size-8;
      margin-top: 1em;
    }

    .task-lat-lon {
      font-size: $size-8;
      margin-top: 0.5em;
    }

    &__description {
      margin-top: 20px;
      @include constrained-text-content();
      @include markdown-content();
    }
  }

  &__more-options {
    .challenge-share-controls {
      margin-top: 60px;
      justify-content: center;
    }
  }

  &__comments {
    .comment-list {
      &__comment--content {
        background-color: $white;
      }

      .with-triangle-border::before {
        border-bottom-color: $white;
      }
    }
  }
}
