@import 'variables.scss';

.project-metrics {
  &__header {
    font-size: $size-3;
    color: $white;
    background-color: $primary;
    width: 100%;
    border-radius: $radius-medium;
    padding: 20px;
    margin-top: -14px; // align with top of sidebar
    margin-bottom: 25px;
    display: flex;
    align-items: baseline;
  }

  &__title {
    border-right: 2px solid $white;
    padding-right: 0.4em;
    line-height: 1em;
  }

  &__counts {
    font-size: $size-5;
    display: flex;
    justify-content: flex-start;
    font-weight: $weight-light;
    color: $white;

    .count {
      font-weight: $weight-semibold;
      color: $white;
      margin-left: 1em;
    }
  }
}
