@import "variables.scss";

.project-card {
  background-color: $white;

  &.is-active {
    width: 390px;
    height: 425px;
    position: relative;
    overflow: hidden;
    padding-top: 25px;
    background-color: $grey-lightest-more;
    border-radius: $radius-medium;
    margin-right: 20px;
    margin-bottom: 20px;

    .project-list-item__project-name {
      font-weight: $weight-semibold;
    }

    .project-list-item .item-pinned {
      position: absolute;
      top: -10px;
      right: -5px;
    }
  }

  &__project-content {
    border-radius: 0px 0px $radius-medium $radius-medium;
    padding: 5px 20px 20px 20px;
    max-height: 335px;
    overflow-y: scroll;
  }

  &__project-challenge-preview {
    margin-left: 10px;
    padding: 1px 10px;
    border-radius: $radius-medium;
    margin-bottom: 32px;

    &__header {
      font-size: $size-7;
      color: $grey;
      text-transform: uppercase;
      margin: 10px;
      font-weight: 300;
    }

    .challenge-list {
      font-size: $size-6;

      .item-entry:last-child > .challenge-list-item {
        border-bottom: none;
      }
    }
  }
}
