@import '../../../variables.scss';

.admin {
  .metrics-overview {
    margin-bottom: 1.5rem;

    .stat {
      margin: 15px;

      .name {
        font-size: $size-7;
        color: $grey;
        text-align: center;
      }

      .value {
        font-size: $size-4;
        color: $green;
        text-align: center;
      }

      .secondary-value {
        font-size: $size-6;
        color: $green;
        text-align: center;
      }
    }

    .task-stats {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .completion-stats {
        min-width: 250px;
        width: 300px;

        h5 {
          color: $primary;
          text-align: center;
        }

        .completion-progress {
          margin-top: 15px;

          &.evaluated-by-user {
            margin-top: 30px;
          }
        }
      }
    }
  }
}
