@import 'variables.scss';

.active-task-controls button.button.cancel-control {
  margin-top: 15px;
  margin-bottom: 15px;

  svg {
    height: 18px;
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
  }

  span {
    font-weight: $weight-normal;
  }
}
