@responsive {
  .mr-pin-t-100 {
    top: 100%;
  }

  .mr-pin-b-100 {
    bottom: 100%;
  }

  .mr-pin-l-50 {
    left: 50%;
  }

  .mr--pin-l-50 {
    left: -50%;
  }

  .mr-pin-l-16 {
    left: 16%;
  }

  .mr-pin-l-20 {
    left: 20%;
  }

  .mr-pin-l-30 {
    left: 30%;
  }

  .mr-pin-l-37 {
    left: 37.5%; /* centers a 25% width content area */
  }

  .mr-pin-l-33 {
    left: 33%;
  }

  .mr-pin-t-50 {
    top: 50%;
  }

  .mr-pin-t-20 {
    top: 20%;
  }

  .mr-pin-t-15 {
    top: 15%;
  }

  .mr-pin-t-10 {
    top: 10%;
  }

  .mr-pin-t-5 {
    top: 5%;
  }

  .mr--translate-1\/2 {
    transform: translate(-50%, -50%);
  }

  .mr-rotate-10 {
    transform: rotate(10deg);
  }

  /* Useful for manipulating the containing block for 'fixed' content */
  .mr-fixed-containing-block {
    transform: rotate(0deg);
  }
}
