@responsive {
  .mr-top-100 {
    top: 100%;
  }

  .mr-top-50 {
    top: 50%;
  }

  .mr-top-20 {
    top: 20%;
  }

  .mr-top-15 {
    top: 15%;
  }

  .mr-top-10 {
    top: 10%;
  }

  .mr-top-5 {
    top: 5%;
  }

  .mr-bottom-100 {
    bottom: 100%;
  }

  .mr-left-50 {
    left: 50%;
  }

  .mr-left-37 {
    left: 37.5%; /* centers a 25% width content area */
  }

  .mr-left-33 {
    left: 33%;
  }

  .mr-left-30 {
    left: 30%;
  }

  .mr-left-20 {
    left: 20%;
  }

  .mr-left-16 {
    left: 16%;
  }

  .mr--left-50 {
    left: -50%;
  }

  .mr--translate-1\/2 {
    transform: translate(-50%, -50%);
  }

  .mr-rotate-10 {
    transform: rotate(10deg);
  }

  /* Useful for manipulating the containing block for 'fixed' content */
  .mr-fixed-containing-block {
    transform: rotate(0deg);
  }
}
