@responsive {
  .mr-pin-t-100 {
    top: 100%;
  }

  .mr-pin-b-100 {
    bottom: 100%;
  }

  .mr-pin-l-50 {
    left: 50%;
  }

  .mr--pin-l-50 {
    left: -50%;
  }

  .mr-pin-l-16 {
    left: 16%;
  }

  .mr-pin-l-30 {
    left: 30%;
  }

  .mr-pin-l-33 {
    left: 33%;
  }

  .mr-pin-t-50 {
    top: 50%;
  }

  .mr-pin-t-20 {
    top: 20%;
  }

  .mr-pin-t-15 {
    top: 15%;
  }

  .mr-pin-t-10 {
    top: 10%;
  }

  .mr-pin-t-5 {
    top: 5%;
  }

  .mr--translate-1\/2 {
    transform: translate(-50%, -50%);
  }
}
