.mr-status-created {
  @apply mr-text-purple;
}

.mr-status-false-positive {
  @apply mr-text-mango;
}

.mr-status-skipped {
  @apply mr-text-pink;
}

.mr-status-already-fixed {
  @apply mr-text-yellow-sand;
}

.mr-status-too-hard {
  @apply mr-text-red-light;
}

.mr-status-fixed {
  @apply mr-text-blue-viking;
}

.mr-status-deleted {
  @apply mr-text-grey;
}

.mr-status-disabled {
  @apply mr-text-wild-strawberry;
}

.mr-review-needed {
  @apply mr-text-purple;
}

.mr-review-approved {
  @apply mr-text-turquoise;
}

.mr-review-approved-with-fixes {
  @apply mr-text-turquoise;
}

.mr-review-rejected {
  @apply mr-text-orange;
}

.mr-review-disputed {
  @apply mr-text-wild-strawberry;
}

.mr-notification-type-mention {
  @apply mr-text-pink;
}

.mr-notification-type-review-approved {
  @apply mr-text-green-light;
}

.mr-notification-type-review-rejected {
  @apply mr-text-red;
}
