h1,
.mr-h1 {
  @apply mr-text-4xl mr-font-light mr-leading-tight;

  @screen md {
    @apply mr-text-5xl;
  }
}

h2,
.mr-h2 {
  @apply mr-text-3xl mr-font-normal mr-leading-tight;

  @screen md {
    @apply mr-text-4xl;
  }
}

h3,
.mr-h3 {
  @apply mr-text-xl mr-font-normal mr-leading-tight;

  @screen md {
    @apply mr-text-2xl;
  }
}

h4,
.mr-h4 {
  @apply mr-text-md mr-font-normal mr-leading-tight;

  @screen md {
    @apply mr-text-lg;
  }
}

.mr-list-header {
  @apply mr-text-yellow mr-text-sm mr-font-medium mr-uppercase mr-my-2;
}

.text-danger {
  @apply mr-text-red;
}

.mr-links-inverse a {
  @apply mr-text-white;

  &:hover,
  &.active {
    @apply mr-text-green-lighter;
  }
}

.mr-links-green-lighter a {
  @apply mr-text-green-lighter;

  &:hover,
  &.active {
    @apply mr-text-white;
  }
}

.mr-overflow-ellipsis {
  text-overflow: ellipsis;
}

.mr-markdown {
  @apply mr-text-sm;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mr-font-medium mr-leading-tight;
  }

  h1 {
    @apply mr-text-xl;
  }

  h2 {
    @apply mr-text-lg;
  }

  h3 {
    @apply mr-text-md;
  }

  h4,
  h5,
  h6 {
    @apply mr-text-base;
  }

  p,
  ol,
  ul,
  pre {
    @apply mr-my-2;
  }

  ol, ul {
    @apply mr-ml-6;
  }

  ul {
    list-style-type: disc;
  }

  a {
    @apply mr-text-green-lighter;

    &:hover {
      @apply mr-text-yellow;
    }
  }

  &--longtext {
    @apply mr-text-base;

    p,
    ol,
    ul,
    pre {
      @apply mr-my-4;
    }
  }

  &--light {
    a {
      @apply mr-text-blue-light mr-underline;

      &:hover {
        @apply mr-text-current;
      }
    }
  }
}
