h1,
.mr-h1 {
  @apply mr-text-4xl mr-font-normal mr-leading-tight;

  @apply md:mr-text-5xl;
}

h2,
.mr-h2 {
  @apply mr-text-3xl mr-font-normal mr-leading-tight;

  @apply md:mr-text-4xl;
}

h3,
.mr-h3 {
  @apply mr-text-xl mr-font-normal mr-leading-tight;

  @apply md:mr-text-2xl;
}

h4,
.mr-h4 {
  @apply mr-text-md mr-font-normal mr-leading-tight;

  @apply md:mr-text-lg;
}

.mr-list-header {
  @apply mr-text-yellow mr-text-sm mr-font-medium mr-uppercase mr-my-2;
}

.mr-text-inherit {
  color: inherit;
}

.text-danger {
  @apply mr-text-red-light;
}

.mr-links-inverse a {
  @apply mr-text-white;

  &:hover,
  &.active {
    @apply mr-text-green-lighter;
  }
}

.mr-links-green-lighter a {
  @apply mr-text-green-lighter;

  &:hover,
  &.active {
    @apply mr-text-white;
  }
}

.mr-links-green-light a {
  @apply mr-text-green-light;

  &:hover,
  &.active {
    @apply mr-text-white;
  }
}

.mr-links-blue-light a {
  @apply mr-text-blue-light;

  &:hover,
  &.active {
    @apply mr-text-blue-leaflet;
  }
}

.mr-link-list a {
  @apply mr-block mr-mb-2;
}

.mr-links-grey-light a {
  @apply mr-text-grey-light;

  &:hover,
  &.active {
    @apply mr-text-white;
  }

  .mr-lightmode & {
    &:hover,
    &:active {
      @apply mr-text-blue-light;
    }
  }
}

.mr-overflow-ellipsis {
  text-overflow: ellipsis;
}

.mr-markdown {
  @apply mr-text-sm;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mr-font-medium mr-leading-tight mr-text-inherit;
  }

  h1 {
    @apply mr-text-xl;
  }

  h2 {
    @apply mr-text-lg;
  }

  h3 {
    @apply mr-text-md;
  }

  h4,
  h5,
  h6 {
    @apply mr-text-base;
  }

  p,
  ol,
  ul,
  pre {
    @apply mr-my-4;
  }

  li > p, li > ul, li > ol {
    @apply mr-my-2;
  }

  li.task-list-item { /* checklist items */
    @apply mr-list-none mr--ml-4;
  }

  code {
    @apply mr-text-orange;
  }

  blockquote {
    @apply mr-my-2;
    @apply mr-px-2;
    @apply mr-py-px;
    @apply mr-bg-black-15;
  }

  ol, ul {
    @apply mr-ml-6;
  }

  ul {
    list-style-type: disc;

    > li > ul {
      list-style-type: circle;

      > li > ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;

    > li > ol {
      list-style-type: lower-alpha;

      > li > ol {
        list-style-type: lower-roman;
      }
    }
  }

  strong {
    @apply mr-text-inherit;
  }

  table {
    @apply mr-bg-black-5;

    th {
      @apply mr-p-2 mr-text-inherit;
    }

    td {
      @apply mr-px-2;
    }

    tr:last-child td {
      @apply mr-pb-2;
    }
  }

  a {
    @apply mr-text-green-lighter;

    &:hover {
      @apply mr-text-white;
    }
  }

  hr {
    height: 2px;
    @apply mr-bg-white-10;
  }

  &--longtext {
    @apply mr-text-base;

    p,
    ol,
    ul,
    pre {
      @apply mr-my-4;
    }
  }

  &--light {
    a {
      @apply mr-text-green-light;

      &:hover {
        @apply mr-text-blue-light;
      }
    }
  }

  &--base {
    @apply mr-text-base;
  }

  &--compact {
    p {
      @apply mr-my-0 mr-mt-4;
    }

    p:first-child {
      @apply mr-mt-0;
    }
  }
}
