h1,
.mr-h1 {
  @apply mr-text-4xl mr-font-normal mr-leading-tight;

  @screen md {
    @apply mr-text-5xl;
  }
}

h2,
.mr-h2 {
  @apply mr-text-3xl mr-font-normal mr-leading-tight;

  @screen md {
    @apply mr-text-4xl;
  }
}

h3,
.mr-h3 {
  @apply mr-text-xl mr-font-normal mr-leading-tight;

  @screen md {
    @apply mr-text-2xl;
  }
}

h4,
.mr-h4 {
  @apply mr-text-md mr-font-normal mr-leading-tight;

  @screen md {
    @apply mr-text-lg;
  }
}

.mr-list-header {
  @apply mr-text-yellow mr-text-sm mr-font-medium mr-uppercase mr-my-2;
}

.text-danger {
  @apply mr-text-red;
}

.mr-links-inverse a {
  @apply mr-text-white;

  &:hover,
  &.active {
    @apply mr-text-green-lighter;
  }
}

.mr-links-green-lighter a {
  @apply mr-text-green-lighter;

  &:hover,
  &.active {
    @apply mr-text-white;
  }
}

.mr-overflow-ellipsis {
  text-overflow: ellipsis;
}

.mr-markdown {
  @apply mr-text-sm;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mr-font-medium mr-leading-tight;
  }

  h1 {
    @apply mr-text-xl;
  }

  h2 {
    @apply mr-text-lg;
  }

  h3 {
    @apply mr-text-md;
  }

  h4,
  h5,
  h6 {
    @apply mr-text-base;
  }

  p,
  ol,
  ul,
  pre {
    @apply mr-my-2;
  }

  code {
    @apply mr-text-orange;
  }

  blockquote {
    @apply mr-my-2;
    @apply mr-px-2;
    @apply mr-py-px;
    @apply mr-bg-black-5;
    @apply mr-text-grey-light-more;
  }

  ol, ul {
    @apply mr-ml-6;
  }

  ul {
    list-style-type: disc;
  }

  strong {
    color: inherit;
  }

  table {
    @apply mr-bg-black-5;

    th {
      color: inherit;
      @apply mr-p-2;
    }

    td {
      @apply mr-px-2;
    }

    tr:last-child td {
      @apply mr-pb-2;
    }
  }

  a {
    @apply mr-text-green-lighter;

    &:hover {
      @apply mr-text-yellow;
    }
  }

  &--longtext {
    @apply mr-text-base;

    p,
    ol,
    ul,
    pre {
      @apply mr-my-4;
    }
  }

  &--light {
    a {
      @apply mr-text-blue-light mr-underline;

      &:hover {
        @apply mr-text-current;
      }
    }
  }

  &--base {
    @apply mr-text-base;
  }
}
