@import '../../../../variables.scss';

.active-task-details__keyboard-reference {
  margin-top: 5px;

  .columns .column {
    padding-top: 0;
    padding-bottom: 0;
  }

  .active-task-details__keyboard-reference-control {
    font-size: $size-8;

    .icon {
      svg {
        fill: $grey;
        height: 18px;
        width: auto;
        margin-right: 5px;
      }
    }
  }

  .popout-content {
    min-width: 250px;
    padding: 10px;

    h3 {
      color: $primary;
      font-weight: $weight-light;
      margin-bottom: 15px;
      text-align: center;
    }

    dl {
      dt {
        clear: left;
        float: left;
        min-width: 40px;
        margin-right: 15px;
        margin-top: -3px;
        color: $primary;
        font-family: monospace;
        font-weight: $weight-bold;
      }

      dd {
        float: left;
        font-size: $size-7;
      }
    }
  }

  &.is-minimized {
    .active-task-details__keyboard-reference-control {
      font-size: $size-6;

      .icon, .icon:first-child:last-child {
        margin-left: 5px;

        svg {
          height: 26px;
          width: auto;
          fill: $default-icon-color;
        }
      }
    }
  }
}
