@import 'variables.scss';

.active-task-details__keyboard-reference {
  margin-top: 5px;

  .columns .column {
    padding-top: 0;
    padding-bottom: 0;
  }

  .button.active-task-details__keyboard-reference-control {
    .control-icon svg {
      fill: $grey;
    }

    &.is-clear {
      font-size: $size-8;

      .control-icon svg {
        height: 14px;
        vertical-align: text-bottom;
        margin-right: 5px;
      }
    }
  }

  .popout-content {
    width: 250px;
  }
}
