@import "variables.scss";

.page-not-found {
  &__message {
    position: fixed;
    z-index: $layer-top;
    top: $navbar-height; 
    left: 0;
    height: $full-screen;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: $size-huge;
      line-height: $size-huge;
      margin-bottom: 30px;
      color: $grey-darkest;
    }

    &__icon {
      font-size: $size-1;
    }

    h2 {
      font-size: $size-2;
      color: $grey-darkest;
    }
  }

  @media(max-width: $app-mobile-break) {
    &__message {
      height: $mobile-full-screen-pane;

      h1 {
        font-size: $size-1 * 2;
      }

      &__icon {
        font-size: $size-2;
      }

      h2 {
        font-size: $size-4;
      }
    }

  }
}
