@import '../../../../../variables.scss';

.task-completion-controls {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 10px;
  }

  &__cancel {
    margin-top: 15px;
    margin-bottom: 15px;

    svg {
      height: 18px;
      width: auto;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
