html {
  @apply mr-bg-blue;
}

body {
  @apply mr-font-sans mr-font-normal mr-leading-normal mr-text-white mr-antialiased;
}

::selection {
  @apply mr-bg-green-lighter mr-text-white mr-shadow-none;
}

a {
  @apply mr-text-green-light mr-no-underline mr-transition;


  &.active,
  &:hover {
    @apply mr-text-blue-light;
  }
}

code {
  @apply mr-font-mono mr-text-orange;
}

pre {
  @apply mr-block mr-py-2 mr-px-3 mr-my-4 mr-bg-black mr-rounded mr-whitespace-pre-wrap;
}

::placeholder,
[placeholder] {
  @apply mr-overflow-ellipsis;
}
