@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/**
 * This injects Tailwind's base styles, which is a combination of Normalize.css
 * and some additional base styles.
 */
@import 'tailwindcss/base';

/**
 * This injects any component classes registered by plugins.
 */
@import 'tailwindcss/components';

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
@import 'components/buttons';
@import 'components/dropdown';
@import 'components/lists';
@import 'components/cards/widget';
@import 'components/cards/challenge';
@import 'components/cards/project';
@import 'components/sections';
@import 'components/forms';
@import 'components/ticker';
@import 'pages/leaderboard-row';
@import 'components/timeline';
@import 'components/badges';
@import 'components/bounds';

/**
 * Vendor styles
 */
@import 'vendor/react-burger-menu';
@import 'vendor/react-table';
@import 'vendor/react-datepicker';
@import 'vendor/leaflet-areaselect';

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
 @import "tailwindcss/utilities";

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 */

@import 'utilities/typography';
@import 'utilities/positions';
@import 'utilities/backgrounds';
@import 'utilities/rules';
@import 'utilities/statuses';

/**
 * Base styles to setup your application. These are typically the lowest level
 * selectors such as <html> and <body> classes.
 */
@import 'base';
