@import '../../../variables.scss';

.layer-toggle.dropdown {
  position: absolute;
  z-index: $layer-map-control + $intralayer-bump;
  top: 100px;
  right: 10px;

  .dropdown-trigger > button.button:focus {
    border-color: $grey-light;
  }

  .layer-toggle__icon {
    fill: $green;
    width: 30px;
    height: auto;
    stroke-width: 2px;
  }

  .layer-toggle__option-controls {
    label {
      font-size: $size-7;
      padding-left: 1rem;
      color: $grey-dark;

      &:hover {
        color: $grey-dark;
      }
    }
  }
}
