@import 'variables.scss';

/**
 * Mixin to set the colors for map clusters. Three colors are required: the
 * normal base color, along with the colors for clusters with few items and
 * many items (used for clusters with the 'few' or 'many' decorator
 * classes, respectively).
 */
@mixin colored-cluster($normalColor, $fewColor, $manyColor) {
  color: white;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  border: 5px solid rgba($normalColor, 0.5);

  .count {
    display: inline-block;
    background-color: rgba($normalColor, 0.9);
    width: 30px;
    height: 30px;
    padding-top: 6px;
    border-radius: 50%;
  }

  &.few {
    border-color: rgba($fewColor, 0.5);
    .count {
      background-color: rgba($fewColor, 0.9);
    }
  }

  &.many {
    border-color: rgba($manyColor, 0.5);
    .count {
      background-color: rgba($manyColor, 0.9);
    }
  }
}

.challenge-task-map {
  .leaflet-container {
    height: 400px;
    width: auto;

    .leaflet-popup-content-wrapper {
      .leaflet-popup-content {
        width: 200px;
        padding: 10px;

        .marker-popup-content {
          text-align: center;

          &__links {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .cluster-tasks-control {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: $layer-map-control;
    color: $green;
    background-color: $white;
    padding: 5px;
    border: 1px solid $grey-lighter;
    border-radius: $radius-medium;
  }

  .greyscale-cluster {
    @include colored-cluster($grey-dark-less, $grey-light-less, $grey-darkest);
  }

  .monochromatic-blue-cluster {
    @include colored-cluster(#647777, #828E8E, #344F4F);
  }

  .monochromatic-brown-cluster {
    @include colored-cluster(#AA6C39, #D49A6A, #552700);
  }
}
