.property-rule {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(22, 34, 46, 0.75);
}
.property-rule-content {
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
}

.property-rule .rule-body {
  display: grid;
  grid-template-columns: 180px 1fr 1fr 1fr;
  grid-column-gap: 0.75rem;
  align-items: center;
}

.property-rule .rule-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.25rem;
}

.property-rule .remove-rule-link {
  color: #ff6b6b; /* red-light */
  font-size: 0.875rem;
}
.task-properties-form {
  label.control-label {
    margin-right: 5px;
  }

  .rjsf .array-field .property-rule {
    display: inline;
  }

  .form-group {
    .form-select {
      display: inline;
      select {
        width: 150px;
      }
    }

    .inline-selector {
      margin-right: 10px;

      input.form-control {
        width: 170px;
      }
    }
  }

  fieldset {
    width: 100%;
  }
}
