@import 'variables.scss';

.dashboard {
  position: relative;
  background-color: $grey-lightest-more;
  border-radius: $radius-medium;
  margin-top: -20px;

  &__tab-row {
    background-color: $white;
    display: flex;
    justify-content: space-between;

    &__tabs {
      display: flex;
      justify-content: flex-start;
    }

    &__controls {
      display: flex;
      align-items: center;

      .button {
        margin-left: 15px;
      }
    }
  }
}

.admin .dashboard .tabs ul {
  border-bottom-style: none;

  li {
    &.is-active {
      margin-bottom: 0;
    }
  }
}
