@import 'mixins.scss';

.keyword-autosuggest-input {
  @include basic-form-element-styling();

  > span { // wrapper around react-tagsinput
    display: flex;
  }

  .react-tagsinput-tag {
    @include tag();
    display: inline-flex;
  }

  .autosuggest-text-box__input-wrapper {
    input {
      border: none;
      box-shadow: none;
    }
  }

  .dropdown-menu {
    margin-bottom: 10px;

    .dropdown-content {
      .new-keyword {
        padding-bottom: 11px;
        border-bottom: 2px solid $grey-lightest;
        margin-bottom: 5px;
        font-style: italic;
      }
    }
  }

  &.dark-mode {
    border: none;
    background-color: rgba(255, 255, 255, .10);
    padding: .25rem;
    border-radius: 2px;
    .autosuggest-text-box__input-wrapper {
      display: flex;
      align-content: center;
      padding: .5rem .25rem;

      input {
        font-size: .875rem;
        line-height: 1.2;
        outline: none;
        background: transparent;
        border-radius: 0px;
        border: none;
        color: white;

        &::placeholder {
          opacity: .5;
          color: white;
        }

        &:focus::placeholder {
          opacity: .75;
        }
      }
    }

    .react-tagsinput-tag {
      display: flex;
      align-content: center;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, .20);
      color: #fff;
      padding: .25rem .5rem;
      font-size: .875rem;
      line-height: 1.2;

      .react-tagsinput-remove {
        color: currentColor;
      }
    }
  }
}
