@import 'variables.scss';

.quick-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .control-wrapper {
    margin-right: 10px;
    flex: 1 1 100%;
  }

  button.button {
    height: 45px;
    margin-left: 5px;

    &.is-small {
      height: 32px;
    }
  }

  &__done-button.button {
    svg {
      fill: $green;
    }
  }

  &__cancel-button.button {
    svg {
      fill: $coral;
    }
  }
}
