@import 'variables.scss';

.inspect-task-controls {
  &__control-block {
    display: flex;
    justify-content: space-between;

    .button {
      margin-bottom: 10px;
    }
  }

  .inspect-task-controls__task-comment {
    margin-bottom: 20px;
  }

  button.post-comment-control {
    margin: -5px 0px 15px 10px;
  }
}
