@import '../../../theme.scss';

.navbar__account-nav-item {
  .dropdown-trigger {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .dropdown-menu {
    z-index: $layer-dropdown + $intralayer-bump;
  }

  &__avatar {
    margin-right: 10px;
  }

  &__username {
    font-weight: $weight-normal;
    margin-right: 10px;
  }

  &__icon {
    @include arrow($white);
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.25s;
    position: static;
  }
}
