@import '../../../../variables.scss';

.admin__manage.view-challenge {
  .admin__manage__primary-content {
    padding-top: 0;

    .challenge-tasks-status {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      h3 {
        font-size: $size-3;

        &.is-danger {
          color: $coral;
        }
      }

      .refresh-control {
        margin-top: 50px;
      }
    }
  }

  section {
    margin-bottom: 1em;
  }

  .tab-content {
    padding: 0 15px 15px 15px;
    min-height: 300px;
  }

  .challenge-overview {
    .view-challenge {
      margin-bottom: 15px;
    }

    &--status {
      .columns {
        margin-bottom: 0;
        margin-left: -0.25em;

        .column {
          padding: 0.25em;
        }
      }

      .status-label {
        font-weight: $weight-light;
      }
    }
  }

  .labeled-progress {
    .progress-label {
      font-size: $size-6;
      font-weight: $weight-light;
    }
  }

  .status-filter-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .status-filter {
      margin-bottom: 5px;

      label {
        margin-left: 0;
      }

      .field {
        &.created {
          label::before, label::after {
            background-color: $status-created-color !important;
          }
        }

        &.fixed {
          label::before, label::after {
            background-color: $status-fixed-color !important;
          }
        }

        &.falsePositive {
          label::before, label::after {
            background-color: $status-falsePositive-color !important;
          }
        }

        &.skipped {
          label::before, label::after {
            background-color: $status-skipped-color !important;
          }

          label::after {
            border-color: $grey-darkest !important;
          }
        }

        &.deleted {
          label::before, label::after {
            background-color: $status-deleted-color !important;
          }

          label::after {
            border-color: $grey-darkest !important;
          }
        }

        &.alreadyFixed {
          label::before, label::after {
            background-color: $status-alreadyFixed-color !important;
          }
        }

        &.tooHard {
          label::before, label::after {
            background-color: $status-tooHard-color !important;
          }
        }
      }

      &:last-child {
        .field label {
          padding-right: 0;
          margin-right: 0;
        }
      }
    }
  }
}
