@import '../../../../variables.scss';

.admin__manage.view-challenge {
  .admin__manage__primary-content {
    padding-top: 0;

    .challenge-tasks-status {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      h3 {
        font-size: $size-3;
        margin-bottom: 20px;

        &.is-danger {
          color: $coral;
        }
      }

      &__status-message {
        font-size: $size-6;
        white-space: pre-wrap;
        max-width: 100%;
        border-radius: $radius-medium;
      }
    }
  }

  .admin__manage__view-challenge__indexing-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg.icon {
      min-width: 35px;
      height: 75px;
      width: auto;
      margin-right: 25px;
      fill: $grey;
    }
  }

  section {
    margin-bottom: 1em;
  }

  .tab-content {
    padding: 0 30px 20px 30px;
    min-height: 300px;
  }

  .challenge-overview {
    .view-challenge {
      margin-bottom: 15px;
    }

    &__status {
      margin-bottom: 35px;

      .columns {
        margin-bottom: 0;
        margin-left: -0.25em;

        .column {
          padding: 0.25em;
        }
      }

      .status-label {
        font-weight: $weight-light;
        color: $grey;
        font-size: $size-6-plus;
      }

      .status-value {
        color: $grey;
        font-size: $size-6-plus;
      }

      .challenge-keywords {
        margin-top: 15px;
        margin-bottom: 20px;
      }

      .start-challenge-control {
        margin-bottom: 20px;
      }
    }
  }

  .challenge-metrics {
    .calendar-heatmap {
      height: 680px;
    }
  }

  .filter-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0px 25px 0px;

    .filter-option {
      margin-bottom: 5px;

      label {
        margin-left: 0;
      }

      &:last-child {
        .field label {
          padding-right: 0;
          margin-right: 0;
        }
      }
    }
  }

  .filter-option.status-filter .field {
    &.created {
      label::before, label::after {
        background-color: $status-created-color !important;
      }
    }

    &.fixed {
      label::before, label::after {
        background-color: $status-fixed-color !important;
      }
    }

    &.falsePositive {
      label::before, label::after {
        background-color: $status-falsePositive-color !important;
      }
    }

    &.skipped {
      label::before, label::after {
        background-color: $status-skipped-color !important;
      }

      label::after {
        border-color: $grey-darkest !important;
      }
    }

    &.deleted {
      label::before, label::after {
        background-color: $status-deleted-color !important;
      }

      label::after {
        border-color: $grey-darkest !important;
      }
    }

    &.alreadyFixed {
      label::before, label::after {
        background-color: $status-alreadyFixed-color !important;
      }
    }

    &.tooHard {
      label::before, label::after {
        background-color: $status-tooHard-color !important;
      }
    }
  }

  .filter-option.priority-filter .field {
    &.low, &.medium, &.high {
      label::before, label::after {
        background-color: $grey-lightest !important;
      }

      label::after {
        border: none;
        transform: none;
        color: $green;
        font-size: 10px;
        left: 7px;
        top: 4px;
      }
    }

    &.low {
      label::after {
        content: '\2581';
      }
    }

    &.medium {
      label::after {
        content: '\2584';
      }
    }

    &.high {
      label::after {
        content: '\2588';
      }
    }
  }
}
