@import 'variables.scss';

.SimpleDropdown {
  .dropdown-trigger {
    &:hover {
      cursor: pointer;
    }
  }

  a.dropdown-item {
    color: #91F3A2;

    &:hover {
      color: white;
      background-color: transparent;
    }
  }
}
