.mr-card-widget {
  @apply mr-relative mr-bg-white mr-shadow mr-rounded mr-text-grey mr-flex mr-flex-col;

  .mr-cards-inverse & {
    @apply mr-bg-white-10 mr-text-white;
  }

  &--top-row {
    @apply mr-border-none;
  }

  &--editing {
    @apply mr-select-none mr-cursor-move;

    .mr-cards-inverse & {
      @apply  mr-border-t-0;
    }
  }

  &__delete {
    @apply mr-transition mr-absolute mr-z-10 mr-pin-r mr-pin-t mr-text-xs mr-bg-red-light mr-py-1 mr-px-2 mr-rounded-bl mr-rounded-tr mr-text-white;

    &:hover {
      @apply mr-bg-red;
    }
  }

  &__header {
    @apply mr-py-2 mr-px-4;

    .mr-card-widget--padded & {
      @apply mr-px-6 mr-pt-6;
    }
  }

  &__title {
    @apply mr-font-bold mr-text-lg mr-text-blue-light mr-my-2;

    &:after {
      content: '';
      @apply mr-block mr-my-1 mr-w-20 mr-h-3px mr-bg-blue-light;

      .mr-cards-inverse & {
        @apply mr-hidden;
      }
    }

    .mr-cards-inverse & {
      @apply mr-text-yellow mr-text-md mr-font-normal mr-uppercase;
    }
  }

  &__main {
    @apply mr-pb-4 mr-overflow-hidden mr-flex mr-flex-col;

    .mr-cards-inverse & {
      @apply mr-text-white;
    }
  }

  &__intro {
    @apply mr-my-2;
  }

  &__content {
    @apply mr-text-sm mr-h-full mr-overflow-auto mr-scrolling-touch mr-px-4 mr-pb-4;

    .mr-card-widget--padded & {
      @apply mr-px-6;
    }

    .mr-cards-inverse & {

      a {
        @apply mr-text-green-lighter;

        &:hover {
          @apply mr-text-white;
        }
      }
    }

  }
}
