@import '../../variables.scss';

.timeline.activity-timeline {
  .timeline-header {
    span {
      color: $white;
      background-color: $green;
    }
  }

  .timeline-item {
    .timeline-marker {
      background-color: $green;
      border-color: $green;
    }

    .timeline-content {
      .heading {
        color: $coral;
        margin-top: 2px;
      }

      .badge {
        padding-left: 2rem;

        &::after {
          top: 0;
          left: 0;
          color: $grey-dark;
          background-color: $grey-lightest;
          box-shadow: none;
        }

        &.inverted {
          &::after {
            background-color: $white;
          }
        }
      }

      .challenge-activity {
        margin-top: 20px;

        .challenge-name {
          font-weight: $weight-light;
          margin-bottom: 5px;
        }
      }
    }
  }
}
