@import '../../variables.scss';

$markerColor: #F7BB59;
$markerTextColor: $white;
$headingColor: $markerColor;
$badgeColor: #F2EFE9;
$badgeTextColor: #737373;

.timeline.activity-timeline {
  .timeline-header {
    display: none;
    span {
      color: $markerTextColor;
      background-color: $markerColor;
    }
  }

  .timeline-item {
    .timeline-marker {
      background-color: $markerColor;
      border-color: $markerColor;
    }

    .timeline-content {
      .heading {
        color: $headingColor;
        margin-top: 2px;
      }

      .badge {
        padding-left: 2rem;

        &::after {
          top: 0;
          left: 0;
          color: $badgeTextColor;
          background-color: $badgeColor;
          box-shadow: none;
        }

        &.inverted {
          &::after {
            background-color: $markerTextColor;
          }
        }
      }

      .challenge-activity {
        margin-top: 20px;

        .challenge-name {
          font-weight: $weight-light;
          margin-bottom: 5px;
        }
      }
    }
  }
}
