@import 'variables.scss';

.review-task-controls {
  &__control-block {
    .button {
      margin-bottom: 10px;
    }
  }

  .review-task-controls__task-comment {
    margin-bottom: 20px;
  }

  button.post-comment-control {
    margin: -5px 0px 15px 10px;
  }
}
