@import 'mixins.scss';

.share-link.dropdown {
  position: static; // allow content to float above sidebar

  .dropdown-trigger {
    svg {
      fill: $grey-lighter;
      height: 15px;
      width: auto;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .menu-wrapper {
    position: absolute; // positions dropdown menu relative to trigger

    .dropdown-menu {
      top: 0px;
      left: 25px;

      .dropdown-content {
        font-size: $size-7;
        color: $grey;
        padding: 5px 10px 5px 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .share-link__text {
          word-break: keep-all;
        }

        .share-link__copy-button {
          @include invert-on-hover($green, $white)
          margin-left: 10px;
          font-size: $size-7;
          padding: 0px 10px 0px 5px;

          svg {
            width: 15px;
            margin-bottom: 1px;
          }
        }
      }
    }
  }
}
