@import 'variables.scss';

.challenge-pane {
  $tablet-break: 900px;

  position: relative;
  display: flex;

  .sidebar {
    background-color: $grey-lightest-more;
  }

  @media(max-width: $tablet-break) {
    flex-direction: column-reverse;

    .sidebar {
      position: fixed;
      top: 25vh;
      max-height: 75vh;
      min-width: 300px;
      max-width: initial;
      width: 100%;
      border-radius: 0;
      background-color: rgba($grey-lightest-more, 0.85);
      transition: top 0.25s ease-in-out, max-height 0.25s ease-in-out;

      &.is-active {
        box-shadow: 0px 0px 20px 0px $box-shadow-color;
      }

      .sidebar--minimizer {
        min-height: 25px;
        display: flex;
        justify-content: center;

        button.toggle-minimization {
          padding-top: 0px;

          &:after {
            transform: rotate(-45deg);
            border-width: 2px;
            width: 0.75em;
            height: 0.75em;
          }
        }
      }

      &.is-minimized {
        top: 65vh;
        max-height: 35vh;
        width: 100%;
        max-width: initial;

        .sidebar--minimizer button:after {
          transform: rotate(135deg);
        }
      }

      .challenge-result-list--heading {
        padding: 0 0 10px 20px;
        margin-bottom: 0;

        .challenge-result-list__clear-filters-control {
          margin-right: 10px;
        }
      }

      .challenge-list__item {
        &.card.is-active .card-content {
          overflow-y: hidden;
        }

        &__name {
          word-break: break-word;
        }

        &__controls__manage {
          display: none;
        }
      }
    }
  }

  @media(max-width: $app-mobile-break) {
    .sidebar {
      top: 25vh;
      max-height: calc(75vh - #{$mobile-address-bar-height});

      &.is-minimized {
        top: 65vh;
        max-height: calc(35vh - #{$mobile-address-bar-height});
      }
    }
  }
}
