@import 'variables.scss';

.project-managers {

  &__manager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $size-7;
    margin-top: 5px;

    &__about {
      display: flex;
      align-items: center;
    }

    &__profile-pic {
      img {
        border-radius: 50%;
      }
    }

    &__name {
      margin-left: 5px;
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 100px;
    }

    &__role, &__role-placeholder {
      margin: 0 1em;
    }

    &__control-placeholder {
      width: 15px;
    }
  }

  &__add-manager {
    h3 {
      margin-bottom: 10px;
      font-size: $size-5;
    }

    &__form {
      display: flex;
      justify-content: space-between;
      align-items: center;

      select {
        margin-left: 1em;
      }
    }
  }
}
