@import '../../variables.scss';

.navbar.top-nav {
  height: $navbar-height;
  position: relative;
  z-index: $layer-topnav;
  
  .navbar-brand {
    position: relative;

    .navbar-item {
      &:hover {
        cursor: pointer;
      }

      .navbar__logo {
        height: 2.25rem;
        width: auto;
        margin-right: 10px;
        fill: $navbar-item-color;
      }
    }

    .navbar-burger {
      border: 1px solid $navbar-item-color;
      border-radius: 50%;
      box-shadow: none;
      background-color: transparent;
      color: $navbar-item-color;
      height: 2rem;
      width: 2rem;
      margin-top: 1rem;
      margin-right: 1rem;
      transition: color 0.25s, background-color 0.25s;

      &:hover {
        background-color: $navbar-item-color;
        color: $primary;
      }
    }
  }

  .navbar-menu {
    .navbar-item {
      font-weight: $weight-normal;

      .item-text {
        padding: 7px 5px 5px 5px;
        border-bottom: 2px solid transparent;
        transition: border-color .25s ease-in-out;

        &:hover {
          border-color: rgba($navbar-item-color, 0.5);
        }

        &.is-active {
          border-color: $navbar-item-color;

          &:hover {
            border-color: $navbar-item-color;
          }
        }
      }

      img.is-circular {
        max-height: none;
      }
    }

    &.is-active {
      position: relative;
      z-index: $layer-dropdown;

      .navbar-item .item-text {
        color: $primary;

        &:hover {
          border-color: $primary;
        }
      }
    }

    .back-to-old-ui {
      background-color: rgba($black, 0.1);
      border-radius: $radius-rounded;
      margin: 18px 45px;
      padding: 0 1.5rem;
      transition: background-color .25s ease-in-out;
      &:hover {
        background-color: rgba($black, 0.2);
      }
    }
  }
}
