@import '../../variables.scss';

.navbar.top-nav {
  height: $navbar-height;

  .navbar-brand {
    position: relative;

    .navbar-item {
      &:hover {
        cursor: pointer;
      }

      .navbar__logo {
        height: 2.25rem;
        width: auto;
        margin-right: 10px;
        fill: $navbar-item-color;
      }

      .beta-badge {
        font-size: $size-9;
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-right: 17px;
        padding: 0px 5px;
        background-color: $coral;
        border-radius: $radius-medium $radius-medium 0 0;
      }
    }

    .navbar-burger {
      border: 1px solid $navbar-item-color;
      border-radius: 50%;
      box-shadow: none;
      background-color: transparent;
      color: $navbar-item-color;
      height: 2rem;
      width: 2rem;
      margin-top: 1rem;
      margin-right: 1rem;
      transition: color 0.25s, background-color 0.25s;

      &:hover {
        background-color: $navbar-item-color;
        color: $primary;
      }
    }
  }

  .navbar-menu {
    .navbar-item {
      font-weight: $weight-normal;

      .item-text {
        padding: 7px 5px 5px 5px;
        border-bottom: 2px solid transparent;

        &:hover {
          border-color: rgba($navbar-item-color, 0.5);
        }

        &.is-active {
          border-color: $navbar-item-color;

          &:hover {
            border-color: $navbar-item-color;
          }
        }
      }

      img.is-circular {
        max-height: none;
        border-radius: 50%;
      }
    }

    &.is-active {
      position: relative;
      z-index: $layer-dropdown;

      .navbar-item .item-text {
        color: $primary;

        &:hover {
          border-color: $primary;
        }
      }
    }
  }
}
