@import 'variables.scss';

.navbar.top-nav {
  height: $navbar-height;
  position: relative;
  z-index: $layer-topnav;

  @media(max-width: $app-mobile-break) {
    height: $mobile-navbar-height;
    min-height: $mobile-navbar-height;

    .navbar-brand {
      height: $mobile-navbar-height;
      min-height: $mobile-navbar-height;
    }
  }
  
  .navbar-brand {
    position: relative;

    .navbar-item {
      &:hover {
        cursor: pointer;
      }

      .navbar__logo {
        height: 2.25rem;
        width: auto;
        margin-right: 10px;
        fill: $navbar-item-color;
      }
    }
  }

  .navbar-menu {
    .navbar-item {
      font-weight: $weight-normal;

      .item-text {
        padding: 7px 5px 5px 5px;
        border-bottom: 2px solid transparent;
        transition: border-color .25s ease-in-out;

        &:hover {
          border-color: rgba($navbar-item-color, 0.5);
        }

        &.is-active {
          border-color: $navbar-item-color;

          &:hover {
            border-color: $navbar-item-color;
          }
        }
      }

      img.is-circular {
        max-height: none;
      }
    }

    &.is-active {
      position: relative;
      z-index: $layer-dropdown;

      .navbar-item .item-text {
        color: $primary;

        &:hover {
          border-color: $primary;
        }
      }
    }
  }

  .top-nav__signin-link {
    margin-left: 16px;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 30px;
    height: 25px;
    right: 14px;
    top: 23px;

    svg {
      fill: $navbar-item-color;
    }

    @media(max-width: $app-mobile-break) {
      top: 19px;
    }
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;

    svg {
      fill: $grey-dark;
    }
  }

  /* General sidebar styles */
  .bm-menu {
    background-color: $grey-lightest-more;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    padding-top: 0;

    .navbar-item {
      color: $green;
    }

    .navbar__account-nav-item__avatar {
      margin: 0 auto;
      margin-bottom: 40px;
    }

    .top-nav__signin-link {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  /* Styling of overlay */
  .bm-overlay {
    background: $modal-background-background-color;
    left: 0;
  }
}
