
.hover-pic {
    transition: outline-offset 200ms ease;
    outline-offset: -8px;
}

.hover-name {
    transition: all 200ms ease;
}
.hover-style {
    .hover-pic {
        border: 2px solid #7EBC89;
        outline: 2px solid #7EBC89;
        outline-offset: 4px;
    }

    .hover-name {
        color: #7EBC89;
    }
}

