@import 'variables.scss';

.admin {
  display: flex;
  justify-content: center;

  .signin-button {
    margin-top: 20px;
  }

  .admin-pane {
    padding: 10px 40px 20px 40px;
    width: 100%;
  }

  h1 {
    font-size: $size-2;
    font-weight: $title-weight;
    color: $title-color;
  }

  h3.subtitle {
    color: $primary;
    font-weight: $weight-normal;
  }

  .search-box {
    border: 2px solid $grey-lighter-more;
    border-radius: $radius-medium;
    max-width: 320px;

    .control-wrapper svg {
      fill: $grey-light;

      input::placeholder {
        color: $grey-light;
      }
    }
  }

  .item-tally-toggle {
    max-width: 50px;
    float: right;
    margin-left: 18px;
    margin-right: 10px;
    margin-top: 10px;

    svg.icon {
      height: 18px;
      width: auto;
      fill: $grey-lightest;
      vertical-align: middle;

      &.turnOff {
        fill: $blue;
      }

      &.partialOn {
        fill: $blue;
        opacity: 0.5;
      }
    }
  }

  .tabs {
    ul {
      border-bottom: 2px solid $grey-lightest-less;

      li {
        a {
          font-size: $size-5;
          color: $green;
          font-weight: $weight-light;
          letter-spacing: $letter-spacing-medium;
          padding: 10px 0px 12px 0px;
          margin: 0px 13px;
          border-bottom: none;
        }

        &.is-active {
          margin-bottom: -2px;

          a {
            font-weight: $weight-semibold;
            color: $green;
            border-bottom: 3px solid $green;
            padding-bottom: 11px;
          }
        }
      }
    }
  }

  &__manage {
    &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 0;
      margin-bottom: 20px;
    }

    &__header--flush {
      margin-bottom: 0;
    }

    .subtitle, .subtitle:not(:last-child) {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }

    &__heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      h3 {
        font-size: $size-3;
        color: $subtitle-color;

        display: flex;
        justify-content: flex-start;

        .busy-spinner {
          margin-left: 1em;
          padding-top: 0.25em;
        }
      }
    }

    nav.breadcrumb {
      overflow: visible;
      font-size: $size-5;
      margin-bottom: 0;
      color: $white;
      margin-bottom: 0.5em;

      ul {
        flex-wrap: wrap;
        max-width: 75vw;
      }

      li a {
        color: $white;
        line-height: 16px;
      }

      li.is-active a {
        color: $white;
        font-weight: $weight-semibold;

        .busy-spinner {
          margin-left: 10px;
        }
      }

      li + li:before {
        color: $white;
      }

      @media(max-width: 1000px) {
        font-size: $size-6;
        padding-top: 0.5em;
      }

      @media(max-width: 700px) {
        ul {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    .status-section {
      .columns {
        margin-bottom: 0;
        margin-left: -0.25em;

        .column {
          padding: 0.25em;
        }
      }

      .status-label {
        font-weight: $weight-light;
        color: $grey;
        font-size: $size-6-plus;
      }

      .status-value {
        color: $grey;
        font-size: $size-6-plus;
      }

      .start-challenge-control {
        margin: 15px 0px 5px 0px;
      }
    }

    &__controls.columns {
      font-size: $size-5;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;

      .admin__manage__controls--control {
        padding: 8px 12px;

        a {
          color: #91F3A2;

          .basic-dropdown-indicator {
            border-color: #91F3A2;
            vertical-align: super;
          }

          &:hover {
            color: $white;

            .basic-dropdown-indicator {
              border-color: $white;
            }
          }
        }

        svg {
          fill: #91F3A2;
          height: $size-5;
          width: auto;

          &:hover {
            fill: $white;
          }
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }

    &__pane-wrapper {
      display: flex;
      justify-content: center;
    }

    &__primary-content {
      padding: 15px 0 15px 15px;
      flex: 1 2 600px;
      min-width: 350px;
      max-width: 1000px;
      position: relative;

      &.wide {
        max-width: inherit;
      }
    }

    &__managed-item-list {
      font-size: $size-5;

      svg.icon {
        height: 18px;
        width: auto;
      }

      .item-status-icon svg.icon {
        height: 20px;
        width: auto;
        vertical-align: middle;
      }

      .item-entry {
        &:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        .columns {
          margin: 0;

          .column a {
            vertical-align: middle;
          }
        }

        .column.item-visibility {
          max-width: 40px;

          svg.icon {
            height: 24px;
            width: auto;
            fill: $green-light;
            vertical-align: middle;

            &.enabled {
              fill: $green;
            }
          }
        }

        .item-pinned {
          max-width: 50px;

          svg.icon {
            height: 18px;
            width: auto;
            fill: $grey-lightest;
            vertical-align: middle;
            transform: rotate(10deg);

            &.enabled {
              fill: $blue;
            }
          }
        }

        .item-tallied {
          max-width: 50px;

          svg.icon {
            height: 18px;
            width: auto;
            fill: $grey-lightest;
            vertical-align: middle;

            &.enabled {
              fill: $blue;
            }
          }
        }

        .column.item-id {
          max-width: 100px;
        }

        .column.item-priority {
          max-width: 100px;
        }

        .column.controls {
          color: $grey-light;

          svg {
            fill: $grey-light;

            &:hover {
              fill: $grey-darkest;
            }
          }

          a, a:link, a:visited, a:active {
            color: $grey-light;
          }

          a:hover {
            color: $grey-darkest;
          }
        }
      }
    }
  }
}
