@import '../../theme.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 0px;
  border: none;
  border-radius: $radius-medium;
  max-width: 100%;
  position: relative;
  overflow: visible;
  z-index: $layer-sidebar;
  height: 100%;
  background-color: rgba($grey-lightest-more, 0.9);
  transition: width 0.5s, max-width 0.5s;

  &:not(.inline) {
    position: absolute;
    border-radius: 0;

    &.is-active {
      box-shadow: 10px 0px 20px -10px $grey;
    }
  }

  &.is-active {
    min-width: 495px;
    width: 4945px;
    max-width: 495px;
    padding: 10px 0px;

    &.with-shadow {
      box-shadow: 10px 0px 20px -10px $grey;
    }

    &.is-minimized {
      min-width: 52px;
      width: 52px;
      max-width: 52px;

      .toggle-minimization {
        padding-right: 20px;

        &:after {
          transform: rotate(225deg);
        }
      }
    }
  }

  &__close.delete {
    position: absolute;
    top: 10px;
    right: 25px;
  }

  &__content {
    overflow-y: auto;
  }

  &--minimizer {
    min-height: 50px;
    text-align: right;

    button {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding-bottom: 10px;
      outline: none;
      font-size: $size-5;
      line-height: 1em;
      padding-right: 15px;
      padding-top: 30px;

      &:after {
        @include arrow($minimizer-arrow-color);
        position: static;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.5s;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
