@import '../../../../variables.scss';

.challenge-metrics {
  h5 {
    margin-bottom: 1em;
  }

  .subheading {
    font-weight: $weight-light;
  }

  .burndown-chart {
    height: 350px;
    margin-bottom: 1em;
  }

  &__completion {
    display: flex;
    flex-wrap: wrap;

    .completion-radar-chart {
      min-width: 200px;
      flex: 1 1 500px;
      max-width: 500px;
      height: 350px;
      margin-top: 50px;
    }

    .completion-stats {
      flex: 1 2 250px;
      min-width: 250px;
      max-width: 500px;
      margin-left: 20px;
      margin-top: 40px;

      .completion-progress {
        &:not(:last-child) {
          margin-bottom: 15px;
        }

        .progress-label, .progress-made {
          font-size: $size-8;
          color: $grey;
        }

        progress {
          height: 1.25rem;
        }

        &.evaluated-by-user {
          margin-top: 30px;
        }
      }
    }
  }
}
