@import '../../../../variables.scss';

.challenge-metrics {
  margin-bottom: 30px;

  h5 {
    margin-bottom: 1em;
  }

  .subheading {
    font-weight: $weight-light;
  }

  .burndown-chart {
    height: 375px;
    margin-bottom: 30px;
  }

  .calendar-heatmap {
    margin: 30px 0;
    height: 765px;
    min-width: 300px;
    max-width: 400px;
    flex: 1 1 400px;
  }

  &__additional-metrics {
    display: flex;
    flex-wrap: wrap;
  }

  &__completion {
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    flex: 1 1 400px;

    .completion-radar-chart {
      margin: 30px 0px;
      min-width: 200px;
      flex: 1 1 500px;
      max-width: 500px;
      height: 350px;
    }

    .completion-stats {
      flex: 1 2 250px;
      min-width: 250px;
      max-width: 500px;
      margin-left: 20px;
      margin-top: 40px;

      .completion-progress {
        &:not(:last-child) {
          margin-bottom: 15px;
        }

        .progress-label, .progress-made {
          font-size: $size-8;
          color: $grey;
        }

        progress {
          height: 1.25rem;
        }

        &.evaluated-by-user {
          margin-top: 30px;
        }
      }
    }
  }
}
