@import 'variables.scss';

.widget-workspace {
  position: relative;
  background-color: $white;

  &__tab-row {
    background-color: $white;
    display: flex;
    justify-content: space-between;

    &__tabs {
      display: flex;
      justify-content: flex-start;
    }

    &__controls {
      display: flex;
      align-items: center;

      .button {
        margin-left: 15px;
      }
    }
  }

  .tabs ul {
    border-bottom-style: none;

    li {
      &.is-active {
        margin-bottom: 0;
      }
    }
  }
}
