@import '../../../variables.scss';

.admin__manage {
  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid $grey-lightest-more;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }

  .subtitle, .subtitle:not(:last-child) {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  &--heading {
    display: flex;
    flex-wrap: wrap;

    h3 {
      font-size: $size-3;
      color: $subtitle-color;

      display: flex;
      justify-content: flex-start;

      .busy-spinner {
        margin-left: 1em;
        padding-top: 0.25em;
      }
    }
  }

  nav.breadcrumb {
    overflow: visible;
    font-size: $size-5;
    margin-bottom: 0;

    li.is-active a {
      color: $green;
      font-weight: $weight-semibold;

      .busy-spinner {
        margin-left: 10px;
      }
    }

    @media(max-width: 1000px) {
      font-size: $size-6;
      padding-top: 0.5em;
    }

    @media(max-width: 700px) {
      ul {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__controls.columns {
    font-size: $size-5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;

    .admin__manage__controls--control {
      padding: 8px 12px;

      a {
        color: $grey-light;

        &:hover {
          color: $grey-darkest;
        }
      }

      svg {
        fill: $grey-light;
        height: $size-5;
        width: auto;

        &:hover {
          fill: $grey-darkest;
        }
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &__pane-wrapper {
    display: flex;
  }

  &__sidebar.sidebar {
    background-color: $grey-lightest-more;
    min-width: 350px;
    max-width: 400px;
    flex: 2 1 350px;
    margin-right: 15px;
    padding-bottom: 0;
    box-shadow: 0 2px 4px 0px $box-shadow-color;

    &.is-minimized {
      min-width: 50px;
      max-width: 52px;
      width: 52px;

      .sidebar__content {
        visibility: hidden;
        padding: 15px 3px;

        .heading-name {
          visibility: visible;
          transform: rotate(90deg) translate(10px, -23px);
        }
      }
    }

    .sidebar__content {
      padding: 0;
      overflow: visible;

     .comment-list { // sidebar and comment colors conflict
       &__comment--content {
         background-color: $white;
       }

       .with-triangle-border::before {
         border-bottom-color: $white;
       }

       &.none {
         font-size: $size-6;
         color: $grey-dark;
         margin-top: 0;
       }
     }
    }

    .admin__manage__sidebar__controls {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 30px 0;
      margin: 30px 15px 0px 15px;
      border-top: 1px solid $grey-lighter;
    }
  }

  &__primary-content {
    padding: 15px;
    flex: 1 2 80%;
    min-width: 300px;
    max-width: 1200px;
  }

  &__managed-item-list {
    font-size: $size-5;
    font-weight: $weight-light;

    svg.icon {
      height: 18px;
      width: auto;
    }

    .item-status-icon svg.icon {
      height: 20px;
      width: auto;
      vertical-align: middle;
    }

    .item-entry {
      &:not(:last-child) {
        border-bottom: 1px solid $grey-lightest;
        margin-bottom: 0.75rem;
      }

      .columns {
        margin-bottom: 0;

        &.is-active {
          background-color: rgba($white, 0.71);
        }

        .column a {
          vertical-align: middle;
        }
      }

      .column.item-visibility {
        max-width: 50px;

        svg.icon {
          height: 24px;
          width: auto;
          fill: $green-light;
          vertical-align: middle;

          &.enabled {
            fill: $green;
          }
        }
      }

      .column.item-id {
        max-width: 100px;
      }

      .column.item-priority {
        max-width: 100px;
      }

      .column.controls {
        color: $grey-light;

        svg {
          fill: $grey-light;

          &:hover {
            fill: $grey-darkest;
          }
        }

        a, a:link, a:visited, a:active {
          color: $grey-light;
        }

        a:hover {
          color: $grey-darkest;
        }
      }

      .column.item-link.is-active {
        a, a:link, a:visited, a:active, a:hover {
          color: $coral;
          font-weight: normal;
        }
      }
    }
  }
}
