.custom-priority-bounds {
  input[type="number"] {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: #fff;
    font-size: 0.8rem;
    height: 1.5rem;

    &:focus {
      outline: none;
      border-color: rgba(255, 255, 255, 0.3);
    }
  }
}
