@import '../../variables.scss';
@import '../../mixins.scss';

.comment-list {
  &.none {
    font-size: $size-7;
  }

  &__comment {
    margin-bottom: 1em;

    &__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 5px;
    }

    &__author {
      color: $grey;
      font-size: $size-7;
      font-weight: $weight-semibold;
      margin-right: 1em;
    }

    &__published-at {
      color: $grey-light;
      font-size: $size-8;
      font-weight: $weight-semibold;

      .time-part {
        margin-right: 0.5em;
      }
    }

    &__content {
      font-size: $size-7;
      background-color: $grey-lightest-more;
      border-radius: $radius-medium;
      padding: 1em;

      p {
        font-size: $size-7;
      }
    }

    &__meta {
      font-size: $size-8;
      color: $grey;
      display: flex;
      justify-content: space-between;

      a {
        color: $grey;
      }
    }

    .with-triangle-border {
      @include triangle-up(10px, $grey-lightest-more)
    }
  }
}
