@import 'variables.scss';

.active-task-controls {
  &__control-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    &.false-positive-control, &.skip-control, &.edit-control {
      border: 5px solid transparent;
      background-clip: padding-box;
    }
  }

  button.button.large-and-wide {
    color: $primary;
    font-weight: $weight-normal;

    &.false-positive-control, &.skip-control {
      flex: 1;
    }

    .control-icon svg {
      height: 20px;
      width: auto;
      margin-right: 10px;
      fill: $primary;
    }
  }

  &__vertical-control-block {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 10px;
    }
  }

  &__track-task {
    margin-bottom: 20px;
  }

  &__additional-controls {
    border: 2px solid $grey-lightest-more;
    border-radius: 4px;
    padding: 10px 0px;

    .collapsible-section__heading {
      justify-content: center;
      color: $grey-light-less;
      font-size: $size-6;
      font-weight: $weight-medium;
      transition: color 0.25s;

      .has-svg-icon {
        display: flex;
        align-items: center;

        svg {
          height: 20px;
          fill: $grey-light-less;
          transition: fill 0.25s;
        }
      }

      &:hover {
        color: $primary;

        svg {
          fill: $primary;
        }
      }
    }

    &.is-expanded {
      .collapsible-section__heading {
        border-bottom: 2px solid $grey-lightest-more;
        margin-bottom: 20px;
        padding-bottom: 10px;
        color: $primary;

        svg {
          fill: $primary;
        }
      }

      .more-options-control__body {
        padding: 10px;
      }
    }
  }

  &.is-minimized {
    .active-task-controls__control-block {
      flex-direction: column;

      .control-label {
        display: none;
      }
    }

    button {
      margin-bottom: 5px;
    }

    .active-task-controls__icon {
      height: 26px;
      width: auto;
      margin-left: 0px;
      margin-right: 0px;
      fill: $default-icon-color;
    }

    .active-task-controls__task-comment {
      display: none;
    }

    .control-label {
      display: none;
    }

    .active-task-controls__additional-controls {
      border: none;
      padding: 0;

      .popout-trigger button {
        margin-bottom: 0;
        height: 1.5em;

        svg {
          fill: $grey-light-less;
        }

        &:hover, &:enabled:focus {
          svg {
            fill: $nearly-black;
          }
        }
      }
    }
  }
}
