@import '../../variables.scss';

dl.tag-list {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px;

  dt {
    font-family: monospace;
    font-weight: $weight-bold;
  }

  dd {
    font-size: $size-7;
  }
}
