@import '../../../theme.scss';

.active-task-details {
  background-color: $white;

  .popout-content {
    padding: 0;
    min-width: 220px;

    .popout-content__header {
      padding: 20px 20px 12px 20px;
      margin-bottom: 12px;

      h3 {
        color: $primary;
        font-size: $size-6;
        font-weight: $weight-medium;
      }
    }

    .popout-content__body {
      padding: 0 20px 20px 20px;
    }
  }

  &__task-content {
    .task-content__task-header {
      padding: 0px 30px 20px 30px;
    }

    .task-content__task-body {
      padding: 0px 30px 30px 30px;
    }
  }

  &.is-active {
    min-width: 350px;
    max-width: 350px;
    width: 350px;
    padding: 0;
  }

  &--heading, &--sub-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: $letter-spacing-medium;

    color: $primary;
    text-transform: uppercase;
    font-size: $size-6;
    font-weight: $weight-semibold;

    &.primary-heading {
      font-size: $size-8;
      font-weight: $weight-normal;
      color: $grey;
      margin-top: -24px;
    }
  }

  &--sub-heading {
    margin-bottom: 10px;

    &.collapsible {
      position: relative;
      display: flex;
      justify-content: space-between;

      &:hover {
        cursor: pointer;
      }

      .collapsible-icon {
        height: 1em;

        .icon {
          @include arrow($minimizer-arrow-color);
          @include dropdown-arrow();
          position: static;
        }
      }
    }
  }

  .is-collapsed {
    .active-task-details--sub-heading {
      margin-bottom: 0px;

      .collapsible-icon {
        .icon {
          margin-top: 5px;
          transform: rotate(135deg);
        }
      }
    }
  }

  .content-block {
    &.is-bordered {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid $grey-lightest-more;
    }
  }

  &--bordered {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid $grey-lightest-more;
  }

  &--name {
    color: $primary;
    font-size: $size-4;
  }

  &--project-name {
    font-size: $size-8;
    color: $grey-light;
  }

  &--inset-map {
    margin-top: 20px;
  }

  &--instructions, .info-popout--instructions {
    color: $grey;
    font-size: $size-7;
    line-height: 24px;
    @include constrained-text-content();
  }

  &--comment-badge {
    // Because of the odd sizing of the comment icon due to the addition of the
    // comment-count badge, we need to adjust some of the sizing, positioning,
    // padding and margin to make it and the surrounding whitespace look
    // more-or-less consistent with everything else.
    &.active-task-details--bordered {
      padding-bottom: 10px;
      margin-bottom: 12px;
    }

    .badge.is-badge-outlined[data-badge] svg {
      transition: fill 0.3s;
    }

    &:hover {
      cursor: pointer;
      .badge.is-badge-outlined[data-badge] {
        svg {
          fill: $black;
        }
      }
    }
  }

  &--place {
    font-size: $size-8;
    margin-top: 1em;
  }

  &__task-comments {
    .active-task-details--sub-heading {
      .comment-count-badge {
        margin-left: 0.5em;
        position: relative;
        top: 2px;
      }
    }
  }

  &__controls {
    font-size: $size-7;
    margin-top: 10px;
  }

  &__info-popout {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;

    .button.active-task-details__info-control {
      .control-icon svg {
        fill: $primary;
      }
    }

    .info-popout--project-name {
      color: $grey-light;
      font-size: $size-8;
    }
  }

  &__comment-popout {
    width: 100%;

    .dropdown-trigger {
      width: 100%;

      .comment-count-badge {
        display: block; // or our border will be messed up
      }
    }

    .popout-content {
      width: 285px;
      max-height: 60vh;
      overflow-y: auto;
    }
  }

  &__keyboard-reference {
    text-align: center;
  }

  &.is-active.is-minimized {
    .task-content__task-body {
      padding: 0;
      max-width: 30px;
      padding-top: 0;
      margin-left: 10px;
    }

    .task-content__task-header,
    .active-task-details--heading,
    .active-task-details--sub-heading,
    .active-task-details--name,
    .active-task-details--project-name,
    .active-task-details--instructions,
    .active-task-details--inset-map,
    .active-task-details--place,
    .active-task-details__task-comments {
      display: none;
    }

    .active-task-details--name {
      font-size: $size-5;
      text-align: center;
    }

    .active-task-details__controls {
      button .label {
        display: none;
      }
    }
  }
}
