@import './variables.scss';

// Buttons
@mixin invert-on-hover($foreground-color, $background-color) {
  color: $foreground-color;
  border-color: $foreground-color;
  background-color: $background-color;

  svg {
    fill: $foreground-color;
  }

  &:enabled:hover, &:enabled:focus {
    color: $background-color;
    border-color: $foreground-color;
    background-color: $foreground-color;

    svg {
      fill: $background-color;
    }
  }

  &.is-loading {
    &:enabled:focus:after {
      // Change spinner color. Bulma css has !important so we have to as well.
      border-color: transparent transparent $background-color $background-color !important;
    }
  }
}

// Supplements arrow() from Bulma. You must still mixin arrow() as well.
@mixin dropdown-arrow($size: 10px) {
  height: $size;
  width: $size;
  transform: rotate(-45deg);
  transform-origin: center;
  transition: transform 0.25s;
}

@mixin triangle-up($size, $color) {
  position: relative;
  padding-top: $size;

  &:before {
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;

    top: 0;
    left: $size * 1.5;
  }
}

// helps display text content in a constrained area
@mixin constrained-text-content() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

@mixin markdown-content() {
  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 1rem;
    margin-bottom: 1rem;

    > li > ul {
      list-style-type: circle;

      > li > ul {
        list-style-type: square;
      }
    }
  }

  ol {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  pre {
    padding: 10px;
    margin-bottom: 1rem;
  }
}

@mixin busy-spinner-color($color) {
  .busy-spinner-icon {
    border-color: $color;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}

@mixin busy-spinner-size($size) {
  .busy-spinner-icon {
    width: $size;
    height: $size;
  }
}
