@import '../node_modules/bulma/sass/utilities/initial-variables.sass';

// Bulma global variable overrides
$radius-medium: 4px;
$radius-medium-less: 3px;

// Colors
$blue: #2281c2; // cornflower-blue
$grey-darkest: #333333;
$grey-dark: #606060;
$grey-dark-less: #646464;
$grey: #777777;
$grey-light-less: #979797;
$grey-light: #aaaaaa;
$grey-lighter: #cccccc;
$grey-lighter-more: #d8d8d8;
$grey-lightest-less: #e3e3e3;
$grey-lightest: #eeeeee;
$grey-lightest-more: #f6f6f6;
$green: #00a592; // persian green
$green-light: #a4dbd5;
$yellow: #fccb4e; // mustard
$coral: #e05054; // coral
$orange: #ea8433;
$cyan: #38e5db;
$purple: #9d6adc;
$nearly-black: #0a0a0a;

// Chart colors
$chart-blue-light: #e0f5f2;
$chart-green: #61cdbb;
$chart-green-light: #97e3d5;
$chart-yellow: #f1e15b;
$chart-orange: #e8a838;
$chart-red: #f47560;
$chart-brown: #e8c1a0;

$primary: $blue;
$danger: $coral;
$primary-invert: $white;
$app-background: $white;
$progress-value-background-color: $chart-green;
$switch-background-active: $green;
$default-icon-color: $grey-dark;
$minimizer-arrow-color: $grey-light-less;
$box-shadow-color: rgba(0, 0, 0, 0.15);
$form-element-border-color: $grey-lightest-less;

// Task status colors
$status-created-color: $blue;
$status-fixed-color: $chart-green;
$status-falsePositive-color: $chart-yellow;
$status-skipped-color: $chart-orange;
$status-deleted-color: $purple;
$status-alreadyFixed-color: $chart-green-light;
$status-tooHard-color: $chart-red;

// Typography
$family-sans-serif: 'Roboto', sans-serif;
$family-primary: $family-sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-semibold: 500;
$weight-bold: 700;

$size-huge: 10rem;
$size-6-plus: 18px;
$size-7: 0.875rem;
$size-8: 0.75rem;
$size-9: 0.625rem;

$letter-spacing-little: 0.66px;
$letter-spacing-medium: 0.75px;

// z-index layers
$intralayer-bump: 1;
$nextlayer-bump: 5;

$layer-none: 0;
$layer-bottom: $layer-none + $nextlayer-bump;
$layer-middle: $layer-bottom + $nextlayer-bump;
$layer-top: $layer-middle + $nextlayer-bump;
$layer-max: 50;

$layer-map: $layer-bottom;
$layer-map-control: $layer-map + $intralayer-bump;
$layer-sidebar: $layer-middle;
$layer-subnav: $layer-top;
$layer-topnav: $layer-top + $intralayer-bump;
$layer-dropdown: $layer-top;
$dropdown-content-z: $layer-dropdown;
$layer-popout: $layer-top;
$layer-modal: 100;

// Modal
$modal-background-background-color: rgba($green, 0.7);

// Title/header
$title-color: $primary;
$title-weight: $weight-light;

$subtitle-color: $green;
$subtitle-weight: $weight-semibold;

// Navbar
$navbar-background-color: $green;
$navbar-item-color: $white;
$navbar-item-active-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-height: 103px;
$mobile-navbar-height: 92px;

// Subnav
$subnav-height: 94px;
$mobile-subnav-height: 50px;

// Steps
$steps-default-color: $grey-lightest;
$steps-completed-color: $green;
$steps-active-color: $green;

// Menus
$menu-background-color: $white;

// Mobile support
$app-tablet-break: 1024px;
$app-mobile-break: 800px;
$mobile-address-bar-height: 75px; // cumulative top and bottom bars
$mobile-full-screen-pane: calc(
  100vh - #{$mobile-navbar-height} - #{$mobile-address-bar-height}
);

// Screen sizes
$full-screen: calc(100vh - #{$navbar-height});
$full-screen-with-subnav: calc(100vh - #{$navbar-height} - #{$subnav-height});
