@import 'variables.scss';

.grey-backdrop {
  color: $green;
  background-color: $grey-lightest-more;
  box-shadow: 0px 2px 4px 0px $box-shadow-color;
  border-radius: $radius-medium;
}

.user-profile {
  padding-top: 40px;
  display: flex;
  justify-content: center;

  .columns {
    max-width: 1600px;

    .column.left-column {
      padding-left: 100px;
      padding-right: 25px;
      min-width: 550px;
      max-width: 650px;
    }

    .column.right-column {
      padding-right: 100px;
      padding-left: 25px;
    }
  }

  h2.subtitle {
    margin-bottom: 0.5rem;
  }

  section {
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__personal {
    @extend .grey-backdrop;
    padding: 40px;
    display: flex;
    align-items: center;

    &--avatar {
      margin-right: 30px;

      img {
        border-radius: 50%;
      }
    }

    &__about {
      color: $grey-dark;
      font-weight: $weight-light;
    }

    &__value {
      font-weight: $weight-semibold;
    }

    &__created {
      white-space: nowrap;
    }

    &__display-name {
      color: $green;
      font-size: $size-4;
      font-weight: $weight-normal;
      border-bottom: 2px solid $grey-lightest-less;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }

  &__activity {
    padding: 30px 40px;
    border: 2px solid $grey-lightest-less;
    border-radius: $radius-medium;
  }

  .top-challenges, .saved-challenges, .saved-tasks, .user-settings {
    h2.subtitle {
      @extend .grey-backdrop;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      margin-bottom: 40px;
    }
  }

  .top-challenges__challenge, .saved-challenges__challenge, .saved-tasks__task {
    display: flex;
    align-items: center;
    margin: 0;

    a {
      flex-shrink: 0;
      max-width: 85%;

      .saved-tasks__task__name {
        font-weight: $weight-semibold;
      }
    }

    .connector {
      flex-shrink: 1;
      width: 100%;
      border-bottom: 1px solid $grey-lightest-less;
      margin: 5px 10px;
    }

    .button.is-clear {
      flex-shrink: 0;
      svg.icon {
        fill: $grey-light;
        height: 15px;
        width: auto;
      }

      &:hover {
        svg.icon {
          fill: $grey;
        }
      }
    }
  }

  &__user-settings {
    form.rjsf {
      margin-right: 30px;

      .form-fields-wrapper {
        margin: 0;
        margin-top: 15px;

        .field.is-horizontal {
          .field-label label {
            font-size: $size-6;
            font-weight: $weight-semibold;
            margin-top: 6px;
            text-align: left;
            color: $grey-dark;
          }

          .field-body {
            flex-grow: 3;

            .field .control {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              font-size: $size-7;

              .select {
                width: 200px;
                margin-bottom: 20px;
                margin-right: 20px;

                select {
                  width: 100%;
                }
              }

              .help {
                width: 50%;
                margin-top: 0;
              }

              @media(max-width: 1350px) {
                .help {
                  width: auto;
                }
              }
            }
          }
        }
      }

      fieldset {
        border: none;
        padding: 0;
      }
    }
  }

  &__api-key {
    @extend .grey-backdrop;
    padding: 20px 15px;

    h2.subtitle {
      margin-bottom: 30px;
    }

    pre {
      font-size: $size-8;
      background-color: white;
      padding: 15px;
      border: 2px solid $grey-lighter-more;
      border-radius: $radius-medium;
    }
  }

  pre {
    overflow-x: auto;
    @media(max-width: 1250px) {
      max-width: 400px;
    }
  }
}
