@import 'mixins.scss';

.admin__manage.challenge-dashboard {
  .challenge-tasks-status {
    &__building-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    h3 {
      font-size: $size-3;
      color: $primary;

      &.is-danger {
        color: $coral;
      }
    }

    &__status-message {
      font-size: $size-6;
      white-space: pre-wrap;
      max-width: 100%;
      border-radius: $radius-medium;
    }

    &__build-status {
      font-size: $size-5;
    }
  }

  .admin__manage__challenge-dashboard__indexing-notice {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg.icon {
      min-width: 35px;
      height: 75px;
      width: auto;
      margin-right: 25px;
      fill: $grey;
    }
  }

  section {
    margin-bottom: 1em;
  }

  .challenge-overview {
    .challenge-dashboard {
      margin-bottom: 15px;
    }

    &__status {
      margin-bottom: 35px;

      .columns {
        margin-bottom: 0;
        margin-left: -0.25em;

        .column {
          padding: 0.25em;
        }
      }

      .status-label {
        font-weight: $weight-light;
        color: $grey;
        font-size: $size-6-plus;
      }

      .status-value {
        color: $grey;
        font-size: $size-6-plus;
      }

      .challenge-keywords {
        margin-top: 15px;
        margin-bottom: 20px;
      }

      .start-challenge-control {
        margin-bottom: 20px;
      }
    }
  }

  .challenge-metrics {
    .calendar-heatmap {
      margin-bottom: 10px;
    }
  }

  .filter-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0px 25px 0px;

    .filter-option {
      margin-bottom: 5px;

      label {
        margin-left: 0;
      }

      &:last-child {
        .field label {
          padding-right: 0;
          margin-right: 0;
        }
      }
    }
  }

  .filter-option.status-filter .field {
    &.created {
      label::before, label::after {
        background-color: $status-created-color !important;
      }
    }

    &.fixed {
      label::before, label::after {
        background-color: $status-fixed-color !important;
      }
    }

    &.falsePositive {
      label::before, label::after {
        background-color: $status-falsePositive-color !important;
      }
    }

    &.skipped {
      label::before, label::after {
        background-color: $status-skipped-color !important;
      }

      label::after {
        border-color: $grey-darkest !important;
      }
    }

    &.deleted {
      label::before, label::after {
        background-color: $status-deleted-color !important;
      }

      label::after {
        border-color: $grey-darkest !important;
      }
    }

    &.alreadyFixed {
      label::before, label::after {
        background-color: $status-alreadyFixed-color !important;
      }
    }

    &.tooHard {
      label::before, label::after {
        background-color: $status-tooHard-color !important;
      }
    }
  }

  .filter-option.priority-filter .field {
    &.low, &.medium, &.high {
      label::before, label::after {
        background-color: $grey-lightest !important;
      }

      label::after {
        border: none;
        transform: none;
        color: $green;
        font-size: 10px;
        left: 7px;
        top: 4px;
      }
    }

    &.low {
      label::after {
        content: '\2581';
      }
    }

    &.medium {
      label::after {
        content: '\2584';
      }
    }

    &.high {
      label::after {
        content: '\2588';
      }
    }
  }
}

.admin__manage-tasks {
  &__task-controls {
    display: flex;
    justify-content: space-between;

    &__selection {
      display: inline-block;
      padding: 0px 20px 5px 10px;
      margin-bottom: 10px;
      margin-right: 10px;
      background-color: $grey-lightest;
      border-radius: $radius-medium;

      .dropdown {
        height: 1.25em;
        vertical-align: super;
      }
    }

    .confirm-action {
      vertical-align: top;
    }

    .button.is-outlined {
      margin-left: 10px;
      margin-top: 4px;
    }

    &__clear-filters-control.button {
      color: white;
      margin-right: 45px;
      fill: white;

      &:hover {
        color: $black;
        fill: $black;
      }
    }
  }
}

.ChallengeTasksWidget {
  .modal.is-active {
    display: block;
    padding-top: 500px;
  }
}
