@import 'variables.scss';

.home-pane {
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    min-width: 335px;
    padding: 40px;
    background-color: $white;
    border-radius: $radius-medium;

    .columns.icon-columns {
      margin-bottom: 0;
    }

    .home-pane__icon {
      width: 80px;
      height: auto;
      stroke-width: 2px;

      @media (max-height: 350px) {
        width: 60px;
      }
    }

    h1 {
      font-size: 2.5em;
      text-align: center;
    }
  }

  &__intro {
    color: $grey;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    ul.home-pane__feature-points {
      list-style: circle;

      li {
        width: fit-content;
        font-size: $size-5
      }
    }
  }

  &__feedback-note.column {
    margin: 20px 0;
    background-color: $grey-lightest-more;
    padding: 1em 1.5em;
    border-radius: $radius-medium;

    h2.subtitle {
      font-size: $size-3;
      font-weight: normal;
      text-align: center;
    }
  }

  &__footer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    color: $grey;
    font-size: $size-8;
  }

  @media(max-width: $app-mobile-break), (max-height: 500px) {
    .pane-content {
      @media(max-width: 643px) {
        border-radius: 0;
      }

      .home-pane__content {
        padding: 20px 40px;

        h1 {
          font-size: $size-5;
        }
      }

      .home-pane__intro {
        margin-bottom: 15px;

        ul.home-pane__feature-points {
          li {
            font-size: $size-6;

            @media(max-height: 350px) {
              font-size: $size-7;
            }
          }
        }
      }
    }
  }
}
