@import 'theme.scss';

.form {
  .array-item-remove::after {
    content: 'Remove';
  }

  fieldset fieldset fieldset legend {
    display: none;
  }

  .array-field {
    &__item {
      margin-top: 1em;

      .inline {
        .control-label {
          display: none;
        }

        .field:not(.nested-rule-group) {
          display: inline-block;
          width: auto;
          margin-right: 1em;
          margin-bottom: 0;

          &:last-child {
            margin-right: 0;
          }

          input[type='text'] {
            width: auto;
          }
        }

        .array-field__item__control {
          display: inline-block;
          .icon {
            svg {
              height: 20px;
              width: auto;
            }
          }
        }
      }
    }

    &__block-controls {
      margin-top: 1em;
    }
  }

  .control-label {
    margin-top: 5px;
  }
}


// Customizations for react-jsonschema-form to adapt it to the Bulma
// framework. While we try to customize the markup, rjsf customization
// is a bit clunky and requires some fine-tuning here.
form.rjsf {
  .array-item-remove::after {
    content: 'Remove';
  }

  fieldset {
    border: none;

    fieldset {
      border: 1px solid $grey-lightest;
      padding: 25px;

      legend {
        display: none;
      }

      fieldset {
        border: none;
        padding: 0;
      }
    }
  }

  // The root element represents the top-level object -- essentially the form
  // or the current step in a multi-step workflow.
  #root__description {
    // Negative top margin to reduce the top fieldset padding, which we want in
    // the event there isn't a root description.
    margin: 40px 0 45px 36px; // left-align with fieldset legend
    color: $grey;
    background-color: $grey-lightest-more;
    padding: 15px;
    border-radius: $radius-medium;

    h1, h2, h3, h4, h5 {
      font-weight: $weight-bold;
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    blockquote {
      padding: 0.5rem;
      margin-bottom: 1rem;
      font-style: italic;
    }
  }

  .form-fields-wrapper {
    margin: 20px 0;
    .field .control {
      display: flex;
      justify-content: space-between;
    }

    .field .control fieldset {
      legend {
        display: none;
      }

      .field-label {
        flex-grow: 0;
        display: none;
      }

      .array-field {
        &__item {
          margin-top: 1em;

          .inline {
            .field-label {
              display: none;
            }

            .field.is-horizontal {
              display: inline-block;
              width: auto;
              margin-right: 1em;

              &:last-child {
                margin-right: 0;
              }

              input[type='text'] {
                width: auto;
              }
            }

            .array-field__item__control {
              display: inline-block;
              .icon {
                svg {
                  height: 20px;
                  width: auto;
                }
              }
            }
          }
        }

        &__block-controls {
          margin-top: 1em;
        }
      }
    }

    .markdown-edit-field {
      display: flex;

      textarea {
        flex: 1 1 50%;
        margin-right: 10px;
        min-width: auto;
        height: 200px;
      }

      .markdown-preview {
        border: 2px solid $grey-lightest-more;
        border-radius: $radius-medium;
        padding: 10px;
        min-width: 350px;
        width: 350px;
        height: 200px;
        color: $grey;
        font-size: $size-7;
        line-height: 24px;
        @include constrained-text-content();
        @include markdown-content();
        overflow-y: auto;
      }
    }
  }

  .form-controls {
    display: flex;
    justify-content: space-between;
  }

  label .required {
    color: $danger;
    margin-left: 0.25em;
  }

  .field-label {
    text-align: left;
  }

  .field.is-horizontal {
    margin: 40px 0px;

    .field.is-horizontal {
      margin: 0;
    }
  }

  input.form-control {
    @extend .input;
    @include basic-form-element-styling();
  }

  .select, .select:not(.is-multiple) {
  }

  select.form-control {
    height: auto;
    padding-right: 2em;
  }

  .select:not(.is-multiple)::after {
    border-color: $grey-light-less;
    border-width: 1.5px;
    width: 0.4em;
    height: 0.4em;
    top: 70%;
  }

  textarea.form-control {
    @extend .textarea;
    @include basic-form-element-styling();
  }

  .control .checkbox {
    // rjsf checkboxes render a lot more than just the input, unlike most other
    // field types, so suppress display of the additional fields so we can render
    // them where and how we want.
    p.field-description {
      display: none;
    }

    label {
      @extend .checkbox;

      input {
        margin-right: 0.5em;
      }
    }
  }

  .control .field-radio-group {
    label {
      @extend .radio;

      input {
        margin-right: 0.5em;
      }
    }
  }

  .control .readonly-file {
    margin-top: 4px;
  }

  .dropzone {
    background-color: $grey-lightest;
    border: 1px solid $grey-light;
    border-radius: $radius-medium;
    padding: 15px;
    text-align: center;
    max-width: 400px;
    margin-top: 5px;

    &:hover {
      cursor: pointer;
    }

    &.active {
      border-color: $green;
    }
  }

  .react-tagsinput {
    @extend .input;
    @include basic-form-element-styling();

    .react-tagsinput-tag {
      font-family: inherit;
      font-size: $size-7;
      background-color: $grey-lightest;
      color: $grey;
      border: none;
      border-radius: $radius-medium;
      margin: 5px;
      padding: 2px 5px 2px 10px;
    }

    .react-tagsinput-remove {
      font-family: inherit;
      color: $grey-darkest;
      &:before {
        margin-left: 5px;
      }
    }

    .react-tagsinput-input {
      font-family: inherit;
      margin-top: 4px;
      width: 100px;
    }
  }

  .help {
    font-size: $size-7;
    flex-basis: 50%;
    margin-left: 1em;
  }

  .errors {
    font-size: $size-8;
    color: $danger;
  }
}

.nested-rule-group > fieldset {
  display: flex;
  flex-direction: column;
}
