.calendar-heatmap-widget {
  &.months-3 {
    .calendar-heatmap {
      max-width: 250px;
    }
  }

  &.months-6 {
    .calendar-heatmap {
      max-width: 450px;
    }
  }

  &.months-9 {
    .calendar-heatmap {
      max-width: 650px;
    }
  }
}
