@import '../../../theme.scss';

.challenge-filter-subnav.navbar.sub-nav {
  $mobile-break: $app-mobile-break;
  z-index: $layer-subnav;
  height: $subnav-height;
  background-color: $white;
  border-bottom: 2px solid $grey-lighter;

  @media(max-width: $mobile-break) {
    height: $mobile-subnav-height;
    min-height: $mobile-subnav-height;
  }

  .navbar-brand {
    width: 24px;
  }

  .navbar-link {
    color: $blue;
  }

  .nav-dropdown {
    z-index: $layer-subnav;

    .navbar-dropdown {
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 0 0 $radius-medium $radius-medium;

      .navbar-item {
        padding-left: 20px;
      }
    }

    .navbar-link {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-right: 2px solid $grey-lightest;

      &:after {
        @include arrow($minimizer-arrow-color);
        @include dropdown-arrow();
        margin-top: 6px;
        margin-right: 10px;
      }

      label {
        text-transform: uppercase;
        font-size: $size-8;
        font-weight: $weight-medium;
        letter-spacing: $letter-spacing-medium;
        margin: 7px 0px 5px 0px;
      }

      .default-value, .placeholder, .current-value {
        color: $grey-light;
        min-width: 135px;
        margin-right: 20px;
      }
    }

    .navbar-item {
      color: $grey;
      border-top: 1px solid $grey-light;
      padding-top: 15px;
      padding-bottom: 15px;

      &:first-child {
        border: none;
      }
    }

    &.is-active {
      .navbar-link:after {
        transform: rotate(135deg);
        margin-top: 11px;
      }
    }

    @media screen and (max-width: 1100px) {
      .navbar-link {
        .default-value, .placeholder, .current-value {
          min-width: 115px;
          padding-right: 15px;
        }
      }
    }
  }

  .challenge_filter_subnav__other-keywords {
    label {
      margin-right: 5px;
    }

    .search-box {
      .search-box__search-field {
        .control-wrapper .control input.input {
          font-size: $size-6;
          border-bottom: 1px solid $grey-lighter;
          border-radius: 0;
          padding: 0;
          height: 1.5em;
        }
      }
    }
  }

  .search-box.navbar-item {
    max-width: 400px;

    @media(max-width: $mobile-break) {
      max-width: 80vw;
      padding: 0px 10px;
      .search-box__search-field {
        font-size: $size-6;

        svg {
          height: 18px;
          width: auto;
          margin-left: 10px;
          margin-right: 0;
        }

        .control-wrapper {
          min-width: 215px;
          margin-right: 0;

          .control {
            flex: 1 1 240px;

            input {
              font-size: $size-6;
            }
          }
        }
      }
    }
  }
}
