@import 'variables.scss';

.task-location-map {
  position: relative;
  margin-right: 15px;

  &__primary-map {
    border-radius: $radius;
    -webkit-transform: translate3d(0, 0, 0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    -webkit-backface-visibility: hidden;
  }

  &__extent-map {
    position: absolute;
    top: -20px;
    right: -15px;
    height:90px;
    width: 90px;
    z-index: $intralayer-bump;

    .leaflet-container {
      height: 100%;
      border-radius: $radius;

    }
  }
}
