@import 'variables.scss';

.task-location-map {
  position: relative;
  border: 2px solid $grey-lighter;
  border-radius: $radius;
  margin-right: 15px;

  &__extent-map {
    position: absolute;
    top: -20px;
    right: -15px;
    height:90px;
    width: 90px;
    box-shadow: -4px 5px 20px -6px $grey-darkest;
    z-index: $intralayer-bump;
    border: 2px solid $grey-lighter;
    border-radius: $radius;

    .leaflet-container {
      height: 100%;
      border-radius: 0 0 $radius-medium 0;
    }
  }
}
